<div class="message-list-wrapper" :class="{'no-timestamps': !config.displayTimestamps}">
	<template v-if="messages && messages.length">
		<template v-if="config.animateMessages">
			<transition-group name="highlight" tag="ul" class="message-list">
				<li class="message-list-item" v-bind:key="message" v-for="(message, i) in messages" v-bind:class="message.type">
					<message-line v-bind:hide-stacks="hideStacks" v-bind:message="message" v-bind:config="config" :ref="'messageLine_' + i"></message-line>
				</li>
			</transition-group>
		</template>
		<template v-else>
			<ul class="message-list">
				<li class="message-list-item" v-bind:key="message" v-for="(message, i) in messages" v-bind:class="message.type">
					<message-line v-bind:hide-stacks="hideStacks" v-bind:message="message" v-bind:config="config" :ref="'messageLine_' + i"></message-line>
				</li>
			</ul>
		</template>
	</template>
	<template v-else>
		<ul class="message-list message-list-empty">
			<li class="message-list-item message-list-item-no-messages">
				<div class="message-list-no-messages">
					{{ translate('No messages') }}
				</div>
			</li>
		</ul>
	</template>
</div>