@keyframes message-delimiter-animation-left {
  0%   {transform: translateX(-100%)}
  100% {transform: translateX(0)}
}

@keyframes message-delimiter-animation-right {
  0%   {transform: translateX(100%)}
  100% {transform: translateX(0)}
}

.message-list-wrapper {
    width: 100%;
    transition-property: height, margin-top;
    transition-duration: var(--short-animation-duration);
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
}

.message-list-wrapper .message-list-no-messages {
    text-align: center;
    border: var(--app-message-no-messages-border);
    background: var(--app-message-no-messages-background);
    padding: 8px 0px 10px;
    flex: 1 1 auto;
}

.message-list-wrapper .message-list {
    border: var(--app-message-listborder);
    background: var(--app-message-listbackground);
    overflow: auto;
    margin: 0 5px;
    padding: 1px 0px;
    list-style: none;
    bottom: 0;
    transition-property: height, margin-top;
    transition-duration: var(--short-animation-duration);
    flex: 1 1 auto;
}

.message-list-wrapper .message-list li.message-list-item {
    padding: 1px 5px;
    margin: 0;
    font-size: 0.8rem;
}

.message-list-wrapper .message-list li.message-list-item.message-list-item-no-messages {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.message-list-wrapper .message-list li.message-list-item .message .message-line-data {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.message-list-wrapper .message-list li.message-list-item .message .message-line-data .fa {
    flex: 0 0 0.8rem;
    padding-top: 0.2rem;
}

.message-list-wrapper .message-list li.message-list-item .message .message-line-data .message-timestamp {
    padding-top:0.07rem;
    font-family: Inconsolata, monospace;
    margin-left: 3px;
    flex: 0 1 auto;
    white-space: nowrap;
}

.message-list-wrapper .message-list li.message-list-item .message .message-line-data .message-body {
    flex: 1 1 auto;
    border-left: 1px solid;
    margin-left: 5px;
    padding-left: 5px;
    text-align: left;
    transition: border-color linear var(--short-animation-duration),
                padding-left linear var(--short-animation-duration);
}

.message-list-wrapper.no-timestamps .message-list li.message-list-item .message-body {
    border-color: var(--app-message-list-background);
    padding-left: 0;
}

.message-list-wrapper .message-list li.message-list-item .message .message-line-data .message-body.important-message {
    font-weight: bold;
}

.message-list-wrapper .message-list li.message-list-item .message .message-line-data .message-count {
    flex: 0 1 1rem;
    max-height: 1rem;
    font-size: 0.7rem;
    border: 1px solid;
    padding: 0px 2px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: var(--app-message-list-background);
    margin-left: 4px;
}

.message-list-wrapper .message-list li.message-list-item .message .message-stack-toggle-link {
    color: var(--app-user-messages-tool-link-color);
    visibility: visible;
}

.message-list-collapsed .message-list-wrapper .message-list li.message-list-item .message .message-stack-toggle-link {
    visibility: hidden;
}

.message-list-wrapper .message-list li.message-list-item .message .message-stack-toggle-link:hover,
.message-list-wrapper .message-list li.message-list-item .message .message-stack-toggle-link-active {
    color: var(--app-user-messages-tool-link-color-hovered);
}

.message-list-wrapper .message-list li.message-list-item .message .message-stack-info {
    color: var(--app-message-list-message-text-color);
    margin: 2px;
}

.message-list-wrapper .message-list li.message-list-item .message .message-stack-info-table {
    border-collapse: collapse;
    margin: 5px auto;
}

.message-list-wrapper .message-list li.message-list-item .message .message-stack-info-table .message-stack-info-cell {
    padding: 2px 5px 4px 5px;
    color: var(--app-message-list-stack-table-cell-color);
    background: var(--app-message-list-stack-table-cell-background);
    font-weight: normal;
}

.message-list-wrapper .message-list li.message-list-item .message .message-stack-info-table .message-stack-info-heading-cell {
    color: var(--app-message-list-stack-table-heading-color);
    background: var(--app-message-list-stack-table-heading-background);
    font-weight: bold;
}

.message-list-wrapper .message-list li.message-list-item .message .message-stack-info-table .message-stack-info-heading-title-cell {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    padding: 1px 5px 2px 5px;

}

.message-list-wrapper .message-list li.message-list-item:nth-child(2n) {
    border-top: var(--app-message-list-message-border-even);
}

.message-list-wrapper .message-list li.message-list-item:nth-child(2n+1) {
    border-top: var(--app-message-list-message-border-odd);
}

.message-list-wrapper .message-list li.message-list-item:nth-child(2n) .message-stack-info,
.message-list-wrapper .message-list li.message-list-item:nth-child(2n) .message-stack-info-table {
    border: var(--app-message-list-message-border-even);
}

.message-list-wrapper .message-list li.message-list-item:nth-child(2n+1) .message-stack-info,
.message-list-wrapper .message-list li.message-list-item:nth-child(2n+1) .message-stack-info-table {
    border: var(--app-message-list-message-border-odd);
}

.message-list-wrapper .message-list li.message-list-item:first-child {
    border-top: none;
}

.message-list-wrapper .message-list li.message-list-item.info {
    color: var(--app-message-list-message-info-text-color);
}

.message-list-wrapper .message-list li.message-list-item.warning {
    color: var(--app-message-list-message-warning-text-color);
}

.message-list-wrapper .message-list li.message-list-item.error {
    color: var(--app-message-list-message-error-text-color);
}

.message-list-wrapper .message-list li.message-list-item.debug {
    color: var(--app-message-list-message-debug-text-color);
}

.message-list-wrapper .message-list li.message-list-item.info .message-count {
    border-color: var(--app-message-list-message-info-text-color);
    background-color: var(--app-message-list-message-info-text-color);
}

.message-list-wrapper .message-list li.message-list-item.warning .message-count {
    border-color: var(--app-message-list-message-warning-text-color);
    background-color: var(--app-message-list-message-warning-text-color);
}

.message-list-wrapper .message-list li.message-list-item.error .message-count {
    border-color: var(--app-message-list-message-error-text-color);
    background-color: var(--app-message-list-message-error-text-color);
}

.message-list-wrapper .message-list li.message-list-item.debug .message-count {
    border-color: var(--app-message-list-message-debug-text-color);
    background-color: var(--app-message-list-message-debug-text-color);
}


/* delimiter */
.message-list-wrapper .message-list li.message-list-item.delimiter {
    text-align: center;
    padding: 2px 0px;
    background: var(--app-message-list-message-delimiter-background-color);
    color: var(--app-message-list-message-delimiter-text-color);
}

/* delimiter SVG */
.message-list-wrapper .message-list li.message-list-item.delimiter .message-delimiter {
    height: 20px;
    opacity: 0.5;
}

.message-list-wrapper .message-list li.message-list-item.delimiter .message-delimiter .message-delimiter-polygon {
    fill: url(#delimiterGradient);
    stroke: var(--app-message-list-message-delimiter-stroke-color);
    stroke-width: var(--app-message-list-message-delimiter-stroke-width);
}

.message-list-wrapper .message-list li.message-list-item.delimiter .message-delimiter .message-delimiter-polygon.message-delimiter-polygon-center {
    fill: var(--app-message-list-message-delimiter-center-fill);
}

.message-list-wrapper .message-list li.message-list-item.delimiter .message-delimiter .message-delimiter-polygon.message-delimiter-polygon-left {
    animation: message-delimiter-animation-left var(--medium-animation-duration) ease-in-out 1;
}

.message-list-wrapper .message-list li.message-list-item.delimiter .message-delimiter .message-delimiter-polygon.message-delimiter-polygon-right {
    animation: message-delimiter-animation-right var(--medium-animation-duration) ease-in-out 1;
}

.message-list-wrapper .message-list li.message-list-item.delimiter .delimiter-gradient-stop-0 {
    stop-color: var(--app-message-list-message-delimiter-fill-color-0);
    stop-opacity: 0.1;
}

.message-list-wrapper .message-list li.message-list-item.delimiter .delimiter-gradient-stop-10 {
    stop-color: var(--app-message-list-message-delimiter-fill-color-10);
    stop-opacity: 0.3;
}

.message-list-wrapper .message-list li.message-list-item.delimiter .delimiter-gradient-stop-30 {
    stop-color: var(--app-message-list-message-delimiter-fill-color-30);
    stop-opacity: 1;
}

.message-list-wrapper .message-list li.message-list-item.delimiter .delimiter-gradient-stop-70 {
    stop-color: var(--app-message-list-message-delimiter-fill-color-70);
    stop-opacity: 1;
}

.message-list-wrapper .message-list li.message-list-item.delimiter .delimiter-gradient-stop-90 {
    stop-color: var(--app-message-list-message-delimiter-fill-color-90);
    stop-opacity: 0.3;
}

.message-list-wrapper .message-list li.message-list-item.delimiter .delimiter-gradient-stop-100 {
    stop-color: var(--app-message-list-message-delimiter-fill-color-100);
    stop-opacity: 0.1;
}

/*highlight transition*/

.message-list-wrapper .message-list li.message-list-item.highlight-enter {
  background-color: var(--app-message-list-message-info-highlight-background) !important;
  color: var(--app-message-list-message-info-highlight-color) !important;
}

.message-list-wrapper .message-list li.message-list-item.delimiter.highlight-enter {
  background-color: var(--app-message-list-message-delimiter-highlight-background) !important;
  color: var(--app-message-list-message-delimiter-highlight-color) !important;
}

.message-list-wrapper .message-list li.message-list-item.debug.highlight-enter {
  background-color: var(--app-message-list-message-debug-highlight-background) !important;
  color: var(--app-message-list-message-debug-highlight-color) !important;
}

.message-list-wrapper .message-list li.message-list-item.info.highlight-enter {
  background-color: var(--app-message-list-message-info-highlight-background) !important;
  color: var(--app-message-list-message-info-highlight-color) !important;
}

.message-list-wrapper .message-list li.message-list-item.error.highlight-enter {
  background-color: var(--app-message-list-message-error-highlight-background) !important;
  color: var(--app-message-list-message-error-highlight-color) !important;
}

.message-list-wrapper .message-list li.message-list-item.warning.highlight-enter {
  background-color: var(--app-message-list-message-warning-highlight-background) !important;
  color: var(--app-message-list-message-warning-highlight-color) !important;
}