footer {
    border-radius: 0 0 var(--app-main-border-radius) var(--app-main-border-radius);
    border-width: 0 var(--app-main-border-width) var(--app-main-border-width) var(--app-main-border-width);
    border-style: var(--app-main-border-style);
    border-color: var(--app-footer-border-color);
    color: var(--app-footer-text-color);
    background-color: var(--app-footer-background-color);
    background: var(--app-footer-background);
    transition-property: flex-basis, max-height;
    transition-duration: var(--medium-animation-duration);
    justify-content: center;
    max-height: 100vh;
}

footer.hide-fullscreen-footer {
    max-height: 0px;
    overflow: hidden;
}

footer .footer-info {
    flex: 1 1 auto;
    margin: 0;
    padding: 10px 0 0 0;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

footer.has-user-messages .footer-info {
    padding-top: 0px;
}

footer .user-messages {
    flex: 1 1 auto;
}