.app-debug-wrapper {
    border-width: 0 var(--app-main-border-width) 0 var(--app-main-border-width);
    background: var(--app-debug-wrapper-background-color);
    border-style: var(--app-main-border-style);
    border-color: var(--app-debug-wrapper-border-color);
    transition: flex-basis ease-in-out var(--long-animation-duration) var(--short-animation-duration);
    border-radius: 0;
    list-style: none;
    font-size: 0.7rem;
}

.debug-enabled.debug-visible .app-debug-wrapper {
    transition: flex-basis ease-in-out var(--long-animation-duration) var(--short-animation-duration);
}

.app-debug-wrapper .app-debug {
    overflow: hidden;
}

.debug-enabled .app-debug-wrapper .app-debug {
    transition: width ease-in-out var(--short-animation-duration) var(--long-animation-duration);
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug {
    transition: width ease-in-out var(--long-animation-duration) var(--short-animation-duration);
}

.app-debug-wrapper .app-debug-header {
    color: var(--app-debug-header-text-color);
    background-color: var(--app-debug-header-background-color);
    background: var(--app-debug-header-background);
    opacity: 0.6;
    float: right;
}

.debug-enabled .app-debug-wrapper .app-debug-header {
    width: 100%;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header {
    opacity: 1;
    position: fixed;
}

.app-debug-wrapper .app-debug-header h2 {
    color: var(--app-debug-header-title-color);
    margin: 0;
    padding: 5px;
    font-size: 0.8rem;
    display: inline-block;
}

.app-debug-wrapper .app-debug-header .debug-header-tool {
    margin-left: 5px;
}

.app-debug-wrapper .app-debug-header a {
    color: var(--app-debug-header-tool-link-color);
    text-shadow: var(--app-debug-header-tool-text-shadow);
    display: inline-block;
}

.app-debug-wrapper .app-debug-header a:hover {
    color: var(--app-debug-header-tool-link-color-hovered);
    text-shadow: var(--app-debug-header-tool-text-shadow-hovered);
    text-decoration: none;
}

.debug-enabled .app-debug-wrapper .app-debug-header .debug-header-tool{
    display: none;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header .debug-header-tool{
    display:inline-block;
}

.debug-enabled .app-debug-wrapper .app-debug-header .toggle-debug-link{
    display: inline-block;
}

.app-debug-body ul {
    margin: 0;
    padding: 30px 5px 5px 5px;
    list-style: none;
    max-height: 95px;
    overflow: auto;
}

.app-debug .message {
    color: var(--app-user-messages-message-text-color);
}

.app-debug .info {
    color: var(--app-user-messages-message-info-text-color);
}

.app-debug .warning {
    color: var(--app-user-messages-message-warning-text-color);
}

.app-debug .error {
    color: var(--app-user-messages-message-error-text-color);
}

.app-debug .debug {
    color: var(--app-user-messages-message-debug-text-color);
}

.app-debug .important {
    font-weight: bold;
}

.app-debug .message:nth-child(2n) {
    background: var(--app-debug-message-even-background);
}

.app-debug .message:nth-child(2n+1) {
    background: var(--app-debug-message-odd-background);
}

.app-body.has-debug-window .app-debug-wrapper {
    display: none;
}

.app-body.has-debug-window .debug-toggle {
    display: none;
}
