.app-debug-wrapper {
    border-width: 0 var(--app-main-border-width) 0 var(--app-main-border-width);
    background: var(--app-debug-wrapper-background-color);
    border-style: var(--app-main-border-style);
    border-color: var(--app-debug-wrapper-border-color);
    border-radius: 0;
    list-style: none;
    font-size: 0.8rem;
}

.app-debug-wrapper .app-debug {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    background: var(--app-message-list-background);
}

.app-debug-wrapper .app-debug-header {
    color: var(--app-debug-header-text-color);
    background-color: var(--app-debug-header-background-color);
    background: var(--app-debug-header-background);
    flex: 0 0 28px;
    display: flex;
    flex-flow: row;
}

.app-debug-wrapper .app-debug-header h2 {
    color: var(--app-debug-header-title-color);
    margin: 0;
    padding: 5px;
    font-size: 0.8rem;
    flex: 0 1 auto;
}

.app-debug-wrapper .app-debug-header .app-debug-controls {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}

.app-debug-wrapper .app-debug-header .app-debug-controls .app-debug-controls-item {
    padding-top: 5px;
    flex: 1 1 auto;
}

.app-debug-wrapper .app-debug-header .app-debug-controls .app-debug-settings {
    text-align: center;

}

.app-debug-wrapper .app-debug-header .app-debug-controls .app-debug-settings .app-debug-control {
    display: inline-block;
    margin-right: 5px;
}


.app-debug-wrapper .app-debug-header .app-debug-controls .app-debug-toolbar {
    text-align: right;
    padding-right: 10px;
}

.app-debug-wrapper .app-debug-header .app-debug-tool {
    margin-right: 5px;
    color: var(--app-debug-header-tool-link-color);
    text-shadow: var(--app-debug-header-tool-text-shadow);
    display: inline-block;
}

.app-debug-wrapper .app-debug-header .app-debug-tool:hover {
    color: var(--app-debug-header-tool-link-color-hovered);
    text-shadow: var(--app-debug-header-tool-text-shadow-hovered);
    text-decoration: none;
}

.app-debug-wrapper .app-debug-header a.clear-debug-messages {
    color: var(--app-user-messages-clear-messages-link-color);
    margin-right: 10px;
}

.app-debug-wrapper .app-debug-header a.clear-debug-messages:hover {
    text-decoration: none;
    color: var(--app-user-messages-clear-messages-link-color-hovered);
}


.app-debug-wrapper .app-debug-body {
    flex: 1 1 auto;
    overflow: hidden;
    padding-top: 5px;
    display: flex;
    flex-flow: column;
}

.app-debug-wrapper .app-debug-body .message-list {
    max-height: 95px;
}