
<div v-bind:class="[ 'modal-dialog-wrapper', currentModal.modalClassName, { 'modal-dialog-wrapper-busy': currentModal.busy }]">
	<transition name="fade-slow">
		<div v-show="modalVisible" class="modal-dialog-background" v-on:click="callViewHandler" data-click-handler="cancelModalAction">
		</div>
	</transition>
	<transition name="fade-slow">
		<div v-show="modalVisible" class="modal-dialog">
			<a class="modal-dialog-close fa fa-times" v-on:click="callViewHandler" data-click-handler="cancelModalAction"></a>
			<div class="modal-dialog-content">
				<transition v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:after-enter="afterCancel" v-on:enter-cancelled="afterCancel" v-on:before-leave="beforeLeave" v-on:leave="leave" v-on:after-leave="afterCancel" v-on:leave-cancelled="afterCancel">
					<div v-if="currentModal.busy" key="modalBusy" class="modal-dialog-busy-indicator">
						<h2 class="modal-dialog-busy-text" v-if="currentModal.busyText">
							{{ currentModal.busyText }}
						</h2>
						<div class="modal-dialog-busy-wrapper" v-if="currentModal.busy">
							<div class="fa fa-circle-o-notch fa-spin">
							</div>
						</div>
					</div>

					<div key="modalFree" v-else class="modal-dialog-content-wrapper">
						<h2 class="modal-dialog-title" v-html="currentModal.title"></h2>
						<div v-if="currentModal.messages.length > 0" class="modal-dialog-messages">
							<transition-group name="fade" tag="div">
								<div class="modal-dialog-message" v-for="modalMessage in currentModal.messages" v-bind:key="modalMessage.message" v-bind:class="'modal-dialog-' + modalMessage.type"> {{ modalMessage.message }} </div>
							</transition-group>
						</div>
						<form name="modalDialogForm" v-on:submit="callViewHandler" data-submit-handler="confirmModalAction">
							<p class="modal-dialog-body">
								<transition name="width-height">
									<component v-bind:is="currentModal.bodyComponent"></component>
								</transition>
							</p>
							<template v-if="currentModal.showCancelButton || currentModal.showConfirmButton">
								<div class="modal-dialog-buttons">
									<template v-if="currentModal.showConfirmButton">
										<template v-if="currentModal.confirmDisabled">
											<input disabled="disabled" type="submit" class="modal-button modal-button-confirm" v-bind:value="currentModal.confirmButtonText" />
										</template>
										<template v-else>
											<input type="submit" class="modal-button modal-button-confirm" v-bind:value="currentModal.confirmButtonText" />
										</template>
									</template>
									<template v-if="currentModal.showCancelButton">
										<template v-if="currentModal.cancelDisabled">
											<button class="modal-button modal-button-cancel" v-on:click="callViewHandler" data-click-handler="cancelModalAction" v-text="currentModal.cancelButtonText"></button>
										</template>
										<template v-else>
											<button class="modal-button modal-button-cancel" v-on:click="callViewHandler" data-click-handler="cancelModalAction" v-text="currentModal.cancelButtonText"></button>
										</template>
									</template>
								</div>
							</template>
						</form>
					</div>
				</transition>
			</div>
		</div>
	</transition>
</div>
