<div class="user-messages-contents">
	<transition-group name="highlight" tag="ul" class="user-message-list">
		<li class="message" v-bind:key="userMessage" v-for="userMessage in appState.userMessages" v-bind:class="userMessage.type">
			<template v-if="userMessage.type != 'delimiter'">
				<span v-bind:class="userMessage.iconClass">
				</span>
				<span class="message-timestamp">
					{{ userMessage.timestamp }}
				</span>
				<span class="message-body">
					{{ userMessage.message }}
				</span>
			</template>
			<template v-else>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 463.69 44.12" class="message-delimiter message-delimiter-new" preserveAspectRatio="none" shape-rendering="crispEdges">
					<defs>
						<linearGradient id="delimiterGradient" x1="0" x2="0" y1="0" y2="1">
							<stop class="delimiter-gradient-stop-0" offset="0%" />
							<stop class="delimiter-gradient-stop-10" offset="10%" />
							<stop class="delimiter-gradient-stop-30" offset="30%" />
							<stop class="delimiter-gradient-stop-70" offset="70%" />
							<stop class="delimiter-gradient-stop-90" offset="90%" />
							<stop class="delimiter-gradient-stop-100" offset="100%" />
						</linearGradient>
					</defs>
					<polygon class="message-delimiter-polygon message-delimiter-polygon-left" points="225.07 17.14 0.01 22.06 225.07 26.98 223.84 22.06 225.07 17.14"/>
					<polygon class="message-delimiter-polygon message-delimiter-polygon-center" points="236.84 22.06 231.84 2.06 226.84 22.06 231.84 42.06 236.84 22.06"/>
					<polygon class="message-delimiter-polygon message-delimiter-polygon-right" points="238.62 26.98 463.68 22.06 238.62 17.14 239.84 22.06 238.62 26.98"/>
				</svg>
			</template>
		</li>
	</transition-group>
</div>