:root {

    /* basic variables */

    --app-base-text-color: #333333;
    --app-base-font-size: 1rem;
    --font-smoothing: subpixel-antialiased;

    --font-weight-thin: 400;
    --font-weight-light: 400;
    --font-weight-normal: 400;
    --font-weight-medium: 400;
    --font-weight-bold: 700;
    --font-weight-black: 700;

    --form-row-base-border: 1px solid transparent;
    --form-row-error-border: 1px solid #FF0000;

    --form-row-error-text-color: #FF0000;

    --input-base-background: #FFFFFF;
    --input-base-color: #333333;
    --input-base-placeholder-color: #666666;
    --input-base-border: 1px solid #CCCCCC;
    --input-base-padding: 2px 6px 3px 6px;

    --input-highlight-background: #FFFFCC;
    --input-highlight-color: #333333;
    --input-highlight-placeholder-color: #666666;
    --input-highlight-border: 1px solid #CCCCCC;

    --input-hover-background: #CCCCCC;
    --input-hover-color: #333333;
    --input-hover-placeholder-color: #666666;
    --input-hover-border: 1px solid #999999;

    --input-disabled-background: #999999;
    --input-disabled-color: #666666;
    --input-disabled-placeholder-color: #333333;
    --input-disabled-border: 1px solid #CCCCCC;
    --input-disabled-padding: 2px 6px 3px 6px;

    --app-paragraph-font-size: 0.8rem;
    --app-paragraph-line-height: 1.2rem;

    /* selection styles */
    --no-selection-background: transparent;

    --selection-background: #999999;
    --selection-color: #DDDDDD;

    /* transition durations */
    --min-animation-duration: 0.1s;
    --short-animation-duration: 0.2s;
    --medium-animation-duration: 0.4s;
    --long-animation-duration: 0.6s;
    --longest-animation-duration: 1s;
    --max-animation-duration: 2s;

    /* links */

    --link-base-color: #4655B7;
    --link-base-cursor: pointer;
    --link-base-text-decoration: none;

    --link-base-color-hovered: #151A37;
    --link-base-cursor-hovered: var(--link-base-cursor);
    --link-base-text-decoration-hovered: var(--link-base-text-decoration);

    --link-base-color-active: #858DC3;
    --link-base-cursor-active: var(--link-base-cursor);
    --link-base-text-decoration-active: var(--link-base-text-decoration);

    --link-base-color-visited: #333D84;
    --link-base-cursor-visited: var(--link-base-cursor);
    --link-base-text-decoration-visited: var(--link-base-text-decoration);


    --link-destructive-color: #FF6666;
    --link-destructive-color-hovered: #FF3333;

    --safe-link-color: #00CC00;
    --unsafe-link-color: #FF0000;

    /* app header */
    --app-header-height: auto;
    --app-header-background-color-top: #EEEEEE;
    --app-header-background-color-bottom: #CCCCCC;
    --app-header-background-color: none;
    --app-header-text-color: #333333;
    --app-header-border-base-color: #000000;

    --app-main-border-radius: none;
    --app-main-border-width: 1px;
    --app-main-border-color: #333333;
    --app-main-border-style: solid;

    --app-main-border-base-color: #333333;

    --app-main-bg-color: #FFFFFF;


    --app-footer-text-color: #333333;
    --app-footer-height: auto;

    --app-progress-bar-wrapper-border-color: #999999;
    --app-progress-bar-wrapper-border-radius: 4px;
    --app-progress-bar-font-size: 0.7rem;

    --app-progress-bar-box-shadow-idle: 0 0 20px #CCCCCC;
    --app-progress-bar-box-shadow-offline: 0 0 20px #CCCCCC;
    --app-progress-bar-box-shadow-busy: 0 0 20px #FFCC33;
    --app-progress-bar-box-shadow-error: 0 0 20px #FF0000;
    --app-progress-bar-box-shadow-warning: 0 0 20px #FFCC33;
    --app-progress-bar-box-shadow-working: 0 0 0px #FFCC33;
    --app-progress-bar-box-shadow-success: 0 0 20px #009900;

    --app-progress-bar-wrapper-background-color-top: var(--app-header-background-color-bottom);
    --app-progress-bar-wrapper-background-color-bottom: var(--app-header-background-color-top);

    --app-progress-bar-width: 160px;
    --app-progress-bar-background: -webkit-linear-gradient(top, #BBBBBB 0%, #DDDDDD 100%);
    --app-progress-bar-border-color: #999999;
    --app-progress-bar-border-radius: 5px;

    --app-progress-bar-inner-background-fill: rgba(0, 153, 0, 1);
    --app-progress-bar-inner-background-highlight: rgba(0, 238, 0, 1);
    --app-progress-bar-inner-background: linear-gradient(to right, var(--app-progress-bar-inner-background-fill) 47%, var(--app-progress-bar-inner-background-highlight) 50%, var(--app-progress-bar-inner-background-fill) 53%);
    --app-progress-bar-inner-color: #FFFFFF;

    --app-progress-bar-inner-below-color: #009900;

    --app-progress-bar-cancel-link-color: #DD0000;
    --app-progress-bar-cancel-link-text-shadow: none;

    --app-progress-bar-cancel-link-color-hovered: #FF6666;
    --app-progress-bar-cancel-link-text-shadow-hovered: 0 0 2px #990000;

    /* app notifications */

    --app-notification-font-size: 0.9rem;
    --app-notification-background: #88BBDD;
    --app-notification-color: #000033;
    --app-notification-border-radius: 4px;


    --app-notification-background-hovered: #88BBDDCC;
    --app-notification-color-hovered: #000033;

    --app-notification-debug-background: #CCCCCC;
    --app-notification-debug-color: #000033;

    --app-notification-debug-background-hovered: #CCCCCCCC;
    --app-notification-debug-color-hovered: #000000;


    --app-notification-info-background: #009900;
    --app-notification-info-color: #99FF99;

    --app-notification-info-background-hovered: #009900CC;
    --app-notification-info-color-hovered: #66CC66;


    --app-notification-warning-background: #FFCC33;
    --app-notification-warning-color: #996633;

    --app-notification-warning-background-hovered: #FFCC33CC;
    --app-notification-warning-color-hovered: #663300;


    --app-notification-error-background: #FFCCCC;
    --app-notification-error-color: #990000;

    --app-notification-error-background-hovered: #FFCCCCCC;
    --app-notification-error-color-hovered: #660000;


    --app-notification-count-font-size: 0.8rem;
    --app-notification-count-background: #FFFFFF;
    --app-notification-count-color: #000033;
    --app-notification-count-border: 1px solid #000000;
    --app-notification-count-border-radius: 50%;

    --app-notification-more-box-shadow-color: #FFFFFF;





    --app-error-title-color: #DD0000;
    --app-error-title-font-size: 2rem;
    --app-error-text-color: #DD0000;
    --app-error-text-font-size: 1rem;
    --app-error-debug-text-color: #DD0000;
    --app-error-debug-text-font-size: 0.8rem;
    --app-error-icon-background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" text-rendering="optimizeLegibility" xmlns="http://www.w3.org/2000/svg" version="1.1"><text fill="#FF0000" stroke="#990000" stroke-width="0.2" font-family="FontAwesome" x="0" y="90" font-size="100">&#xf071;</text></svg>') center center no-repeat;
    --app-error-icon-filter: drop-shadow(0px 0px 5px #990000);
    --app-error-message-list-title-color: var(--app-error-title-color);
    --app-error-message-list-title-background: -webkit-linear-gradient(top, var(--app-message-list-background) 0%, var(--app-error-background-color) 70%);
    --app-error-background-color: #EEEEEE;

    --app-loader-text-color: #666666;
    --app-loader-background-color: #EEEEEE;
    --app-loader-spinner-text-color: #333333;
    --app-loader-user-message-list-border: 1px solid #CCCCCC;


    --app-debug-wrapper-background-color: #EEEEEE;
    --app-debug-wrapper-border-base-color: #333333;

    --app-debug-header-background-color-top: #FF3019;
    --app-debug-header-background-color-bottom: #CF0404;
    --app-debug-header-text-color: #FFFFFF;
    --app-debug-header-title-color: #FFFFFF;

    --app-debug-header-tool-link-color: #FFFFFF;
    --app-debug-header-tool-text-shadow: none;

    --app-debug-header-tool-link-color-hovered: #FFFFFF;
    --app-debug-header-tool-text-shadow-hovered: 0 0 4px #000000;

    --app-debug-message-even-background: #FFFFFF;
    --app-debug-message-odd-background: #DDDDDD;

    --app-debug-message-border-even: 1px solid #333333;
    --app-debug-message-border-odd: var(--app-message-list-message-border-even);

    /* message lists */
    --app-message-list-stack-table-heading-color: #F0F0F0;
    --app-message-list-stack-table-heading-background: #999999;

    --app-message-list-stack-table-cell-color: #333333;
    --app-message-list-stack-table-cell-background: none;

    /* user messages */
    --app-user-messages-background-color: #EEEEEE;
    --app-user-messages-border-base-color: #333333;

    --app-user-messages-border-color: var(--app-user-messages-border-base-color) var(--app-user-messages-border-base-color) var(--app-user-messages-border-base-color) var(--app-user-messages-border-base-color);

    --app-user-messages-header-background-color-top: #999999;
    --app-user-messages-header-background-color-bottom: #CCCCCC;
    --app-user-messages-header-text-color: #333333;
    --app-user-messages-header-title-color: #333333;

    --app-user-messages-tool-link-color: #333333;
    --app-user-messages-tool-link-color-hovered: #000000;

    --app-user-messages-clear-messages-link-color: #FF3333;
    --app-user-messages-clear-messages-link-color-hovered: #FF6666;

    --app-message-list-border: 1px solid #666666;
    --app-message-list-background: #CCCCCC;

    --app-message-no-messages-border: none;
    --app-message-no-messages-background: none;

    --app-message-list-message-border-even: 1px solid #666666;
    --app-message-list-message-border-odd: var(--app-message-list-message-border-even);

    --app-message-list-message-highlight-color: #000000;
    --app-message-list-message-highlight-background: #FFCC33;

    --app-message-list-message-debug-highlight-color: #000000;
    --app-message-list-message-debug-highlight-background: #EEEEEE;

    --app-message-list-message-info-highlight-color: #006600;
    --app-message-list-message-info-highlight-background: #66FF66;

    --app-message-list-message-warning-highlight-color: #666600;
    --app-message-list-message-warning-highlight-background: #FFCC00;

    --app-message-list-message-error-highlight-color: #660000;
    --app-message-list-message-error-highlight-background: #FFCCCC;

    --app-message-list-message-delimiter-highlight-color: #000000;
    --app-message-list-message-delimiter-highlight-background: #EEEEEE;



    /* message type definitions */
    --app-message-list-message-text-color: #999999;
    --app-message-list-message-background-color: #333333;
    --app-message-list-message-text-text-shadow: 0 0 1px #999999;
    --app-message-list-message-highlight-background-color: #EEEEEE !important;
    --app-message-list-message-highlight-text-color: #000000 !important;

    --app-message-list-message-debug-text-color: #999999;
    --app-message-list-message-debug-background-color: none;
    --app-message-list-message-debug-highlight-background-color: #EEEEEE !important;
    --app-message-list-message-debug-highlight-text-color: #000000 !important;

    --app-message-list-message-info-text-color: #009900;
    --app-message-list-message-info-background-color: none;
    --app-message-list-message-info-highlight-background-color: #66FF66 !important;
    --app-message-list-message-info-highlight-text-color: #006600 !important;

    --app-message-list-message-warning-text-color: #CC9900;
    --app-message-list-message-warning-background-color: none;
    --app-message-list-message-warning-highlight-background-color: #FFCC00 !important;
    --app-message-list-message-warning-highlight-text-color: #666600 !important;

    --app-message-list-message-error-text-color: #CC0000;
    --app-message-list-message-error-background-color: none;
    --app-message-list-message-error-highlight-background-color: #FFCCCC !important;
    --app-message-list-message-error-highlight-text-color: #660000 !important;


    --app-message-list-message-delimiter-text-color: #999999;
    --app-message-list-message-delimiter-background-color: none;
    --app-message-list-message-delimiter-highlight-background-color: #EEEEEE !important;
    --app-message-list-message-delimiter-highlight-text-color: #000000 !important;

    --app-message-list-message-delimiter-stroke-color: #000000;
    --app-message-list-message-delimiter-stroke-width: 1;
    --app-message-list-message-delimiter-center-fill: #FFFFFF;

    --app-message-list-message-delimiter-fill-color-0: #CCCCCC;
    --app-message-list-message-delimiter-fill-color-10: #CCCCCC;
    --app-message-list-message-delimiter-fill-color-30: #CCCCCC;
    --app-message-list-message-delimiter-fill-color-70: #CCCCCC;
    --app-message-list-message-delimiter-fill-color-90: #CCCCCC;
    --app-message-list-message-delimiter-fill-color-100: #CCCCCC;

    /*app tabs*/
    --app-tabs-tab-link-color: #999999;
    --app-tabs-tab-link-border: 1px solid #999999;
    --app-tabs-tab-link-background: none;
    --app-tabs-tab-link-font-size: 0.9rem;

    --app-tabs-tab-link-hover-background: #F8F8F8;
    --app-tabs-tab-link-hover-color: #999999;

    --app-tabs-tab-link-active-background: #FFFFFF;
    --app-tabs-tab-link-active-color: #666666;

    --app-tabs-tab-link-tools-color: #666666;

    --app-tabs-tab-link-tools-hover-color: #333333;
    --app-tabs-tab-link-tools-hover-text-shadow: 0 0 1px #666666;

    --app-tabs-tab-items-border: 1px solid #999999;

    --app-tabs-tab-item-background: none;
    --app-tabs-tab-item-active-background: #FFFFFF;

    /*language editor*/
    --app-language-editor-new-link-color: #00CC00;
    --app-language-editor-new-link-hover-color: #00FF00;

    --app-language-editor-remove-link-color: #CC0000;
    --app-language-editor-remove-link-hover-color: #FF0000;

    /*app translations*/
    --app-translations-text-color: #666666;
    --app-translations-font-size: 0.8rem;

    --app-translations-link-color: #666666;

    --app-translations-link-hover-color: #333333;
    --app-translations-link-hover-text-shadow: 0 0 1px #666666;

    --app-translations-no-results-font-size: 1.2rem;

    /* window controls */
    --window-control-link-color: #666666;
    --window-control-link-color-hovered: #333333;
    --window-control-link-color-active: #333333;
    --window-control-link-destructive-color-hovered: #CC0000;

    --window-control-link-text-stroke-width: 0px;
    --window-control-link-text-stroke-color: #585858;
    --window-control-link-text-shadow: 0 0 0px #444444;

    --window-control-link-text-stroke-width-hovered: 0px;
    --window-control-link-text-stroke-color-hovered: #999999;
    --window-control-link-text-shadow-hovered: 0 0 0px #666666;
    --window-control-link-destructive-text-shadow-hovered: 0 0 0px #FF0000;

    --window-control-link-text-stroke-width-active: 0px;
    --window-control-link-text-stroke-color-active: #333333;
    --window-control-link-text-shadow-active: 0 0 0px #333333;

    --window-control-submenu-background-color: #CCCCCC;
    --window-control-submenu-background-color-hover: #BBBBBB;
    --window-control-submenu-background-color-active: #999999;

    --window-control-submenu-text-color: #666666;
    --window-control-submenu-text-color-hover: #333333;
    --window-control-submenu-text-color-active: #000000;

    --window-control-submenu-destructive-background-color-hover: #FFCCCC;
    --window-control-submenu-destructive-text-color-hover: #990000;

    --window-control-submenu-border-color: #999999;
    --window-control-submenu-border-radius: 3px;

    --window-control-submenu-shadow-size: 15px;
    --window-control-submenu-box-shadow: 0 0 var(--window-control-submenu-shadow-size) #333333;

    --window-control-submenu-arrow-color: #666666;
    --window-control-submenu-separator-background: #666666;

    /* live info */

    --app-live-info-background-color-top: var(--app-header-background-color-top);
    --app-live-info-background-color-bottom: var(--app-header-background-color-bottom);
    --app-live-info-background: -webkit-linear-gradient(top, var(--app-live-info-background-color-top) 0%, var(--app-live-info-background-color-bottom) 100%);

    --app-live-info-border: 1px solid #999999;
    --app-live-info-border-radius: 4px;

    --app-live-info-box-shadow-success: 0px 0px 10px #00FF00;
    --app-live-info-background-success: -webkit-linear-gradient(top, var(--app-live-info-background-color-top) 0%, var(--app-live-info-background-color-bottom) 100%);
    --app-live-info-border-success: 1px solid #009900;

    --app-live-info-box-shadow-offline: 0px 0px 10px #CCCCCC;
    --app-live-info-background-offline: -webkit-linear-gradient(top, var(--app-live-info-background-color-top) 0%, var(--app-live-info-background-color-bottom) 100%);
    --app-live-info-border-offline: 1px solid #999999;

    --app-live-info-box-shadow-busy: 0px 0px 10px #FFCC33;
    --app-live-info-background-busy: -webkit-linear-gradient(top, var(--app-live-info-background-color-top) 0%, var(--app-live-info-background-color-bottom) 100%);
    --app-live-info-border-busy: 1px solid #AA8800;

    --app-live-info-box-shadow-error: 0px 0px 10px #FF0000;
    --app-live-info-background-error: -webkit-linear-gradient(top, var(--app-live-info-background-color-top) 0%, var(--app-live-info-background-color-bottom) 100%);
    --app-live-info-border-error: 1px solid #660000;

    --app-live-info-box-shadow-warning: 0 0 0px #FFCC33;
    --app-live-info-background-warning: -webkit-linear-gradient(top, var(--app-live-info-background-color-top) 0%, var(--app-live-info-background-color-bottom) 100%);
    --app-live-info-border-warning: 1px solid #AA8800;

    --app-live-info-box-shadow-working: 0 0 0px #FFCC33;
    --app-live-info-background-working: -webkit-linear-gradient(top, var(--app-live-info-background-color-top) 0%, var(--app-live-info-background-color-bottom) 100%);
    --app-live-info-border-working: 1px solid #AA8800;

    /* app live info item */
    --app-live-info-item-background: rgba(255, 255, 255, 0.7);
    --app-live-info-item-box-shadow: 0 0 8px #FFFFFF;

    --app-live-info-item-success-background: var(--app-live-info-item-background);
    --app-live-info-item-success-box-shadow: var(--app-live-info-item-box-shadow);

    --app-live-info-item-offline-background: var(--app-live-info-item-background);
    --app-live-info-item-offline-box-shadow: var(--app-live-info-item-box-shadow);

    --app-live-info-item-error-background: var(--app-live-info-item-background);
    --app-live-info-item-error-box-shadow: var(--app-live-info-item-box-shadow);

    --app-live-info-item-warning-background: var(--app-live-info-item-background);
    --app-live-info-item-warning-box-shadow: var(--app-live-info-item-box-shadow);

    --app-live-info-item-working-background: var(--app-live-info-item-background);
    --app-live-info-item-working-box-shadow: var(--app-live-info-item-box-shadow);

    --app-live-info-item-busy-background: var(--app-live-info-item-background);
    --app-live-info-item-busy-box-shadow: var(--app-live-info-item-box-shadow);


    /* live info operation text */
    --app-live-info-operation-text-color: #333333;
    --app-live-info-operation-text-text-stroke-width: 0.2px;
    --app-live-info-operation-text-text-stroke-color: #000000;
    --app-live-info-operation-text-text-shadow: none;
    --app-live-info-operation-text-font-size: 0.8rem;

    --app-live-info-success-operation-text-color: #00CC00;
    --app-live-info-success-operation-text-text-stroke-width: var(--app-live-info-operation-text-text-stroke-width);
    --app-live-info-success-operation-text-text-stroke-color: #003300;
    --app-live-info-success-operation-text-text-shadow: 0 0 1px #003300;
    --app-live-info-success-operation-text-font-size: var(--app-live-info-operation-text-font-size);

    --app-live-info-offline-operation-text-color: #666666;
    --app-live-info-offline-operation-text-text-stroke-width: var(--app-live-info-operation-text-text-stroke-width);
    --app-live-info-offline-operation-text-text-stroke-color: #999999;
    --app-live-info-offline-operation-text-text-shadow: 0 0 1px #999999;
    --app-live-info-offline-operation-text-font-size: var(--app-live-info-operation-text-font-size);

    --app-live-info-error-operation-text-color: #FF0000;
    --app-live-info-error-operation-text-text-stroke-width: var(--app-live-info-operation-text-text-stroke-width);
    --app-live-info-error-operation-text-text-stroke-color: #990000;
    --app-live-info-error-operation-text-text-shadow: 0 0 1px #FF0000;
    --app-live-info-error-operation-text-font-size: var(--app-live-info-operation-text-font-size);

    --app-live-info-warning-operation-text-color: #CC9900;
    --app-live-info-warning-operation-text-text-stroke-width: var(--app-live-info-operation-text-text-stroke-width);
    --app-live-info-warning-operation-text-text-stroke-color: #996600;
    --app-live-info-warning-operation-text-text-shadow: 0 0 0px #CCCC00;
    --app-live-info-warning-operation-text-font-size: var(--app-live-info-operation-text-font-size);

    --app-live-info-working-operation-text-color: #CC9900;
    --app-live-info-working-operation-text-text-stroke-width: var(--app-live-info-operation-text-text-stroke-width);
    --app-live-info-working-operation-text-text-stroke-color: #996600;
    --app-live-info-working-operation-text-text-shadow: 0 0 0px #CCCC00;
    --app-live-info-working-operation-text-font-size: var(--app-live-info-operation-text-font-size);

    --app-live-info-busy-operation-text-color: #CC9900;
    --app-live-info-busy-operation-text-text-stroke-width: var(--app-live-info-operation-text-text-stroke-width);
    --app-live-info-busy-operation-text-text-stroke-color: #000000;
    --app-live-info-busy-operation-text-text-shadow: 0 0 0px #CCCC00;
    --app-live-info-busy-operation-text-font-size: var(--app-live-info-operation-text-font-size);

    /* live info status icon */
    --app-live-info-status-color: #CCCCCC;

    --app-live-info-status-text-stroke-width: 0.4px;
    --app-live-info-status-text-stroke-color: #000000;
    --app-live-info-status-text-shadow: none;
    --app-live-info-status-font-size: 1rem;

    --app-live-info-success-status-color: #00CC00;
    --app-live-info-success-status-text-stroke-width: var(--app-live-info-status-text-stroke-width);
    --app-live-info-success-status-text-stroke-color: #006600;
    --app-live-info-success-status-text-shadow: none;
    --app-live-info-success-status-font-size: var(--app-live-info-status-font-size);

    --app-live-info-offline-status-color: #CCCCCC;
    --app-live-info-offline-status-text-stroke-width: var(--app-live-info-status-text-stroke-width);
    --app-live-info-offline-status-text-stroke-color: #000000;
    --app-live-info-offline-status-text-shadow: none;
    --app-live-info-offline-status-font-size: var(--app-live-info-status-font-size);

    --app-live-info-online-status-color: #00CC00;
    --app-live-info-online-status-text-stroke-width: var(--app-live-info-status-text-stroke-width);
    --app-live-info-online-status-text-stroke-color: #006600;
    --app-live-info-online-status-text-shadow: none;
    --app-live-info-online-status-font-size: var(--app-live-info-status-font-size);

    --app-live-info-error-status-color: #FF0000;
    --app-live-info-error-status-text-stroke-width: var(--app-live-info-status-text-stroke-width);
    --app-live-info-error-status-text-stroke-color: #660000;
    --app-live-info-error-status-text-shadow: none;
    --app-live-info-error-status-font-size: var(--app-live-info-status-font-size);

    --app-live-info-warning-status-color: #CC9900;
    --app-live-info-warning-status-text-stroke-width: var(--app-live-info-status-text-stroke-width);
    --app-live-info-warning-status-text-stroke-color: #996600;
    --app-live-info-warning-status-text-shadow: none;
    --app-live-info-warning-status-font-size: var(--app-live-info-status-font-size);

    --app-live-info-working-status-color: #CC9900;
    --app-live-info-working-status-text-stroke-width: var(--app-live-info-status-text-stroke-width);
    --app-live-info-working-status-text-stroke-color: #996600;
    --app-live-info-working-status-text-shadow: none;
    --app-live-info-working-status-font-size: var(--app-live-info-status-font-size);

    --app-live-info-busy-status-color: #CC9900;
    --app-live-info-busy-status-text-stroke-width: var(--app-live-info-status-text-stroke-width);
    --app-live-info-busy-status-text-stroke-color: #996600;
    --app-live-info-busy-status-text-shadow: none;
    --app-live-info-busy-status-font-size: var(--app-live-info-status-font-size);

    --modal-dialog-backdrop-background: #FFFFFF;
    --modal-dialog-backdrop-opacity: 0.7;

    --modal-dialog-background: #FFFFFF;
    --modal-dialog-border: 1px solid #666666;
    --modal-dialog-box-shadow: 0 0 50px #333333;

    --modal-dialog-body-background: #EEEEEE;
    --modal-dialog-body-padding: 5px;

    --modal-dialog-title-text-color: #333333;
    --modal-dialog-title-font-size: 1.2rem;

    --modal-dialog-close-background: #FFFFFF;
    --modal-dialog-close-border: 1px solid #999999;
    --modal-dialog-close-color: #666666;
    --modal-dialog-close-border-radius: 20px;
    --modal-dialog-close-box-shadow: 12px -10px 40px #999999;

    --modal-dialog-close-highlighted-background: #333333;
    --modal-dialog-close-highlighted-color: #FFFFFF;

    --modal-dialog-close-highlighted-expiring-background: #FF3333;
    --modal-dialog-close-highlighted-expiring-color: #FFFFFF;


    --modal-dialog-close-background-hovered: #999999;
    --modal-dialog-close-border-hovered: 1px solid #999999;
    --modal-dialog-close-color-hovered: #FFFFFF;
    --modal-dialog-close-text-shadow-hovered: 0 0 2px #000000;

    --modal-dialog-error-text-color: #990000;
    --modal-dialog-busy-text-color: #666666;

    --modal-dialog-button-background: #FFFFFF;
    --modal-dialog-button-border: 1px solid #999999;
    --modal-dialog-button-color: #666666;
    --modal-dialog-button-border-radius: 3px;

    --modal-dialog-button-background-hovered: #EEEEEE;
    --modal-dialog-button-color-hovered: #666666;

    --modal-dialog-button-cancel-border: 1px solid #993333;
    --modal-dialog-button-cancel-color: #993333;

    --modal-dialog-button-cancel-background-hovered: #FFEEEE;
    --modal-dialog-button-cancel-color-hovered: #990000;

    --modal-button-confirm-border: 1px solid #339933;
    --modal-button-confirm-color: #339933;

    --modal-dialog-button-confirm-background-hovered: #EEFFEE;
    --modal-dialog-button-confirm-color-hovered: #009900;

    --modal-dialog-button-confirm-disabled-background: #CCC;
    --modal-dialog-button-confirm-disabled-border: 1px solid #EEE;
    --modal-dialog-button-confirm-disabled-color: #EEE;

    --modal-dialog-button-cancel-disabled-background: #CCC;
    --modal-dialog-button-cancel-disabled-border: 1px solid #EEE;
    --modal-dialog-button-cancel-disabled-color: #EEE;

    --modal-dialog-confirm-modal-border-color: #FF9999;
    --modal-dialog-confirm-modal-box-shadow: 0 0 50px #CC9999;

    --modal-dialog-confirm-modal-title-color: #990000;


    --link-color: var(--link-base-color);
    --link-cursor: var(--link-base-cursor);
    --link-text-decoration: var(--link-base-text-decoration);

    --link-color-hovered: var(--link-base-color-hovered);
    --link-cursor-hovered: var(--link-base-cursor-hovered);
    --link-text-decoration-hovered: var(--link-base-text-decoration-hovered);

    --link-color-active: var(--link-base-color-active);
    --link-cursor-active: var(--link-base-cursor-active);
    --link-text-decoration-active: var(--link-base-text-decoration-active);

    --link-color-visited: var(--link-base-color-visited);
    --link-cursor-visited: var(--link-base-cursor-visited);
    --link-text-decoration-visited: var(--link-base-text-decoration-visited);


    /* derived variables */

    /* app header */
    --app-header-background: -webkit-linear-gradient(top, var(--app-header-background-color-top) 0%, var(--app-header-background-color-bottom) 80%);
    --app-header-border-color: var(--app-header-border-base-color) var(--app-header-border-base-color) var(--app-header-background-color-top) var(--app-header-border-base-color);

    /* app main */
    --app-main-border-color: var(--app-main-border-base-color) var(--app-main-border-base-color) var(--app-main-border-base-color) var(--app-main-border-base-color);

    /* app footer */
    --app-footer-background-color-top: var(--app-header-background-color-bottom);
    --app-footer-background-color-bottom: var(--app-header-background-color-top);
    --app-footer-background-color: none;
    --app-footer-background: -webkit-linear-gradient(top,  var(--app-footer-background-color-top) 0%, var(--app-footer-background-color-bottom) 100%);
    --app-footer-border-base-color: var(--app-header-border-base-color);
    --app-footer-border-color: var(--app-footer-border-base-color) var(--app-header-background-color-top) var(--app-footer-border-base-color) var(--app-footer-border-base-color);

    /* progress bar */
    --app-progress-bar-wrapper-background: -webkit-linear-gradient(top, var(--app-progress-bar-wrapper-background-color-top) 0%, var(--app-progress-bar-wrapper-background-color-bottom) 100%);
    --app-progress-bar-inner-border-radius: var(--app-progress-bar-border-radius);

    /* app debug */
    --app-debug-wrapper-border-color: var(--app-debug-wrapper-border-base-color) var(--app-debug-wrapper-border-base-color) var(--app-debug-wrapper-border-base-color) var(--app-debug-wrapper-border-base-color);
    --app-debug-header-background: -webkit-linear-gradient(top, var(--app-debug-header-background-color-top) 0%, var(--app-debug-header-background-color-bottom) 100%);
    --app-debug-header-background-color: none;
    --app-debug-debug-window-header-background: #EEEEEE;
    --app-debug-debug-window-header-color: #666666;
    --app-debug-debug-window-header-link-color: #990000;

    /* app performance bar */

    --app-performance-bar-toggle-usage-data-border: 1px solid transparent;
    --app-performance-bar-toggle-usage-data-border-active: 1px solid #666666;

    --app-performance-bar-background-color-top: #999999;
    --app-performance-bar-background-color-bottom: #CCCCCC;
    --app-performance-bar-text-color: #666666;

    --app-performance-bar-settings-link-color: #666666;
    --app-performance-bar-settings-link-hover-color: #333333;
    --app-performance-bar-settings-link-active-color: #333333;

    --app-performance-bar-font-size: 0.8rem;

    --app-performance-bar-usage-item-label-color: #333333;

    --app-performance-bar-usage-item-change-up-color: #CC0000;
    --app-performance-bar-usage-item-change-down-color: #006600;

    --app-performance-bar-usage-bar-width: 100px;
    --app-performance-bar-usage-bar-background-color: #CCCCCC;
    --app-performance-bar-usage-bar-background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(160, 160, 160, 1) 100%);

    --app-performance-bar-inner-bar-text-color: #333333;

    --app-performance-bar-usage-bar-extremes-min-color: rgba(0, 127, 0, 1);
    --app-performance-bar-usage-bar-extremes-max-color: rgba(196, 127, 127, 1);

    --app-performance-bar-background: -webkit-linear-gradient(top, var(--app-performance-bar-background-color-top) 0%, var(--app-performance-bar-background-color-bottom) 100%);

    --app-performance-bar-chart-line-color: #333333;
    --app-performance-bar-chart-line-width: 1;

    --app-performance-bar-chart-grid-color: #FFFFFF;
    --app-performance-bar-chart-grid-line-width: 0.5;

    --app-performance-bar-chart-border: 1px solid #CCCCCC;
    --app-performance-bar-chart-background: rgba(0, 0, 0, 0.1);

    /* app info modal */
    --app-info-modal-subtitle-border: 1px solid #999999;
    --app-info-modal-name-border-right: 1px solid #999999;
    --app-info-modal-icon-color: #333333;

    /* svg circular loader */
    --app-circular-loader-text-color: #000000;
    --app-circular-loader-background-color: #FFFFFF;
    --app-circular-loader-progress-background-color: #CCCCCC;
    --app-circular-loader-progress-color: #4655B7;
    --app-circular-loader-progress-front-color: #858DC3;
    --app-circular-loader-progress-front-2-color: #636890;
    --app-circular-loader-stroke-width: 3;


    /* user messages */
    --app-user-messages-header-background: -webkit-linear-gradient(top, var(--app-user-messages-header-background-color-top) 0%, var(--app-user-messages-header-background-color-bottom) 100%);

    --transition-size:  height linear var(--long-animation-duration), width linear var(--long-animation-duration), max-height linear var(--long-animation-duration), max-width linear var(--long-animation-duration), min-height linear var(--long-animation-duration), min-width linear var(--long-animation-duration);

    /* file manager */
    --file-manager-background: var(--app-main-bg-color);
    --file-manager-text-color: var(--app-base-text-color);
    --file-manager-selected-background: #CCCCCC;
    --file-manager-image-preview-background: rgba(255, 255, 255, 0.8);
    --file-manager-image-preview-close-color: #333333;
    --file-manager-image-preview-shadow-color: #FFFFFF;

    --file-manager-highlighted-color: var(--file-manager-background);
    --file-manager-highlighted-background: #FFCC33;

    --file-manager-active-link-color: #000000;

    --file-manager-folder-icon-background: linear-gradient(#FFCC33, #996600);
    --file-manager-file-icon-background: linear-gradient(#CCCCCC, #777777);

    /* nw-tooltip */
    --tooltip-background-color: #333333;
    --tooltip-shadow-color: #CCCCCC;
    --tooltip-text-color: #FFFFFF;

    --tooltip-close-color: #CC0000;
    --tooltip-close-hovered-color: #FF0000;
    --tooltip-close-box-shadow: 0 0 1px #333333;

    --tooltip-success-background-color: var(--app-notification-info-background);
    --tooltip-success-text-color: var(--app-notification-info-color);

    --tooltip-warning-background-color: var(--app-notification-warning-background);
    --tooltip-warning-text-color: var(--app-notification-warning-color);

    --tooltip-error-background-color: var(--app-notification-error-background);
    --tooltip-error-text-color: var(--app-notification-error-color);
}