:root {
    --link-color: var(--link-base-color);
    --link-cursor: pointer;
    --link-text-decoration: none;

    --link-color-hovered: var(--link-base-color-hovered);
    --link-cursor-hovered: var(--link-cursor);
    --link-text-decoration-hovered: var(--link-text-decoration);

    --link-color-active: var(--link-base-color-active);
    --link-cursor-active: var(--link-cursor);
    --link-text-decoration-active: var(--link-text-decoration);

    --link-color-visited: var(--link-base-color-visited);
    --link-cursor-visited: var(--link-cursor);
    --link-text-decoration-visited: var(--link-text-decoration);

    /* app header */
    --app-header-background: -webkit-linear-gradient(top, var(--app-header-background-color-top) 0%, var(--app-header-background-color-bottom) 80%);
    --app-header-border-color: var(--app-header-border-base-color) var(--app-header-border-base-color) var(--app-header-background-color-top) var(--app-header-border-base-color);

    /* app main */
    --app-main-border-color: var(--app-main-border-base-color) var(--app-main-border-base-color) var(--app-main-border-base-color) var(--app-main-border-base-color);

    /* app footer */
    --app-footer-background-color-top: var(--app-header-background-color-bottom);
    --app-footer-background-color-bottom: var(--app-header-background-color-top);
    --app-footer-background: -webkit-linear-gradient(top,  var(--app-footer-background-color-top) 0%, var(--app-footer-background-color-bottom) 100%);
    --app-footer-border-base-color: var(--app-header-border-base-color);
    --app-footer-border-color: var(--app-footer-border-base-color) var(--app-header-background-color-top) var(--app-footer-border-base-color) var(--app-footer-border-base-color);

    /* progress bar */
    --app-progress-bar-wrapper-background: -webkit-linear-gradient(top, var(--app-progress-bar-wrapper-background-color-top) 0%, var(--app-progress-bar-wrapper-background-color-bottom) 100%);
    --app-progress-bar-inner-border-radius: var(--app-progress-bar-border-radius);

    /* app debug */
    --app-debug-wrapper-border-color: var(--app-debug-wrapper-border-base-color) var(--app-debug-wrapper-border-base-color) var(--app-debug-wrapper-border-base-color) var(--app-debug-wrapper-border-base-color);
    --app-debug-header-background: -webkit-linear-gradient(top, var(--app-debug-header-background-color-top) 0%, var(--app-debug-header-background-color-bottom) 100%);
    --app-debug-debug-window-header-background: #EEEEEE;
    --app-debug-debug-window-header-color: #666666;
    --app-debug-debug-window-header-link-color: #990000;

    /* user messages */
    --app-user-messages-header-background: -webkit-linear-gradient(top, var(--app-user-messages-header-background-color-top) 0%, var(--app-user-messages-header-background-color-bottom) 100%);

    --transition-size:  height linear var(--long-animation-duration), width linear var(--long-animation-duration), max-height linear var(--long-animation-duration), max-width linear var(--long-animation-duration), min-height linear var(--long-animation-duration), min-width linear var(--long-animation-duration);

    --app-loader-user-message-list-border: 1px solid #CCC;
}