body.debug-window {
    /*transition: opacity linear 0s;
    opacity: 0.8;*/
    width: 100vw;
    height: 100vh;

    & .debug-window-loader {

        & .app-loader-content {
            width: 100vw;
            height: 100vh;
            background: var(--app-main-bg-color);
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }
    }

    &.debug-window-initialized {
        /*transition-duration: 0.6s;*/
        /*opacity: 1;*/
    }
}

.debug-window .live-info,
.debug-window .progress-bar-wrapper {
	visibility: hidden;
}

.debug-window .debug-enabled.debug-visible .app-debug-wrapper {
    flex: 1 1 auto;
    max-height: unset;
}

.debug-window .debug-enabled.debug-visible .app-debug-wrapper .message-list {
    max-height: unset;
    overflow: auto;
}

.debug-window .debug-toggle .status {
	display: none;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header {
	color: var(--app-debug-header-text-color);
    background-color: var(--app-debug-header-background-color);
    background: var(--app-debug-header-background);
	width: 100%;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header h2 {
	color: var(--app-debug-header-text-color);
	margin: 0;
	padding: 5px;
	font-size: 0.8rem;
	display: inline-block;
}

.debug-window .app-debug {
	display: flex;
	flex-flow: column;
}

.debug-window .debug-enabled.debug-visible .app-debug .app-debug-header {
	position: unset;
	float: none;
	flex: 0 0 26px;

}
.debug-window .debug-enabled.debug-visible .app-debug .app-debug-body {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header .hide-in-debug-window {
	display: none;
}

.debug-window footer {
	flex: 0 1 auto;
}

.debug-window .app-debug-wrapper .app-debug-header a.toggle-message-stacks {
    visibility: visible;
}

.debug-window .message-list-collapsed .message-list-wrapper .message-list li.message-list-item .message .message-stack-toggle-link {
    visibility: visible;
}
