.debug-window .live-info,
.debug-window .progress-bar-wrapper {
	visibility: hidden;
}

.debug-window .debug-toggle {
	display: block;
}

.app-debug-wrapper_ {
	background: #F8F8F8;
	position: relative;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 0.7rem;
	margin: 0;
	display: block;
	overflow: auto;
	max-height: calc(100vh - 100px);
	min-height: calc(100vh - 100px);
	overflow: auto;
	flex: 1 1 auto;
}

.debug-window .debug-enabled.debug-visible .app-debug-wrapper {
    flex: 1;
}

.debug-window .debug-toggle .status {
	display: none;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header {
	background: #EEEEEE;
	position: fixed;
	width: 100%;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header h2 {
	color: #666666;
	margin: 0;
	padding: 5px;
	font-size: 0.8rem;
	display: inline-block;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header a {
	color:#990000;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header .open-debug-window,
.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header .open-translation-editor,
.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header .toggle-debug-link {
	display: none;
}