.debug-window .live-info,
.debug-window .progress-bar-wrapper {
	visibility: hidden;
}

.debug-window .debug-toggle {
	display: block;
}

.debug-window .debug-enabled.debug-visible .app-debug-wrapper {
    flex: 50 1 auto;
}

.debug-window .debug-toggle .status {
	display: none;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header {
	color: var(--app-debug-header-text-color);
    background-color: var(--app-debug-header-background-color);
    background: var(--app-debug-header-background);
	position: fixed;
	width: 100%;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header h2 {
	color: var(--app-debug-header-text-color);
	margin: 0;
	padding: 5px;
	font-size: 0.8rem;
	display: inline-block;
}

.debug-window .app-debug {
	display: flex;
	flex-flow: column;
}

.debug-window .debug-enabled.debug-visible .app-debug .app-debug-header {
	position: unset;
	float: none;
	flex: 0 0 26px;

}
.debug-window .debug-enabled.debug-visible .app-debug .app-debug-body {
	flex: 1;
	display: flex;
	flex-flow: column;
}

.debug-window .debug-enabled.debug-visible .app-debug .app-debug-body ul {
	max-height: unset;
	padding-top: 5px;
	overflow: auto;
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header a {
	color: var(--app-debug-debug-window-header-link-color);
}

.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header .open-debug-window,
.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header .open-translation-editor,
.debug-enabled.debug-visible .app-debug-wrapper .app-debug-header .toggle-debug-link {
	display: none;
}