.app-body {
    position: relative;
    display: flex;
    justify-content: center;
}

.app-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}


header {
    display: flex;
    flex: 0 0 var(--app-header-height);
    height: var(--app-header-height);
}

.main {
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 50 1 0px;
    overflow: auto;
}

.app-loader {
    flex: 50 1 auto;
}

.app-error {
    flex: 0 0 100%;
    position: relative;
}


.app-debug-wrapper {
    display: flex;
    flex: 1 1 auto;
    margin: 0;
}

.debug-enabled .app-debug-wrapper .app-debug {
    width: 100vw;
}
.debug-enabled.debug-visible .app-debug-wrapper .app-debug {
    width: 100vw;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 var(--app-footer-height);
}