.app-body {
    position: relative;
    display: flex;
    justify-content: center;
}

.app-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.app-body.moving-window {
    opacity: 0.7;
}

header {
    display: flex;
    flex: 0 0 var(--app-header-height);
    height: var(--app-header-height);
}

.main {
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 50 1 0px;
    overflow: auto;
}

.app-loader {
    flex: 0 0 100%;
    position: relative;
}

.app-error {
    flex: 0 0 100%;
    position: relative;
}


.app-debug-wrapper {
    display: flex;
    flex: 1 1 auto;
    /*position: relative;*/
    /*right: 0px;*/
    margin: 0;
    /*max-height: 100px;*/
}

.debug-enabled .app-debug-wrapper {
    /*flex: 0 0 0;*/
    /*max-height: unset;*/
    /*overflow: hidden;*/
}

.debug-enabled.debug-visible .app-debug-wrapper {
    /*flex: 0 0 auto;*/
}

.debug-enabled .app-debug-wrapper .app-debug {
    /*position: absolute;*/
    /*right: 0;*/
    /*width: 85px;*/
    /*height: 100%;*/
    width: 100vw;
}
.debug-enabled.debug-visible .app-debug-wrapper .app-debug {
    width: 100vw;
}

.app-body.has-debug-window .app-debug-wrapper {
    /*flex: 0 0 0px;*/
}

footer {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 var(--app-footer-height);
}
