.modal-dialog-background {
    background: var(--modal-dialog-backdrop-background);
    opacity: var(--modal-dialog-backdrop-opacity);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}
.modal-dialog-background.fade-slow-enter-to,
.modal-dialog-background.fade-slow-leave {
    opacity: var(--modal-dialog-backdrop-opacity);
}

.modal-dialog-wrapper {
    overflow: auto;
}


.modal-dialog {
    background: var(--modal-dialog-background);
    border: var(--modal-dialog-border);
    box-shadow: var(--modal-dialog-box-shadow);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 10px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.modal-dialog h2 {
    color: var(--modal-dialog-title-text-color);
    font-size: var(--modal-dialog-title-font-size);
    text-align: center;
    margin: 5px 0;
    padding: 0;
}

.modal-dialog-wrapper .modal-dialog-close {
    background: var(--modal-dialog-close-background);
    border: var(--modal-dialog-close-border);
    color: var(--modal-dialog-close-color);
    border-radius: var(--modal-dialog-close-border-radius);
    box-shadow: var(--modal-dialog-close-box-shadow);
    width: 22px;
    height: 22px;
    text-align: center;
    position: absolute;
    right: -11px;
    top: -10px;
    font-size: 20px;
    overflow: hidden;
}

.modal-dialog-wrapper .modal-dialog-close:hover {
    text-decoration: none;
    color: var(--modal-dialog-close-color-hovered);
    background: var(--modal-dialog-close-background-hovered);
    text-shadow: var(--modal-dialog-close-text-shadow-hovered);
}

.modal-dialog-wrapper.modal-dialog-wrapper-busy .modal-dialog-close,
.modal-dialog-wrapper.modal-dialog-wrapper-busy .modal-dialog-close:hover {
    background: var(--modal-dialog-close-background-hovered);
    border: var(--modal-dialog-close-border-hovered);
    color: var(--modal-dialog-close-color-hovered);
    text-shadow: none;
    cursor: not-allowed;
}

.modal-dialog .modal-dialog-messages {
    padding: 4px 10px;
}

.modal-dialog .modal-dialog-messages .modal-dialog-message {
    text-align: center;
}

.modal-dialog .modal-dialog-messages .modal-dialog-error {
    color: var(--modal-dialog-error-text-color);
}

.modal-dialog .modal-dialog-content {

}

.modal-dialog-busy-wrapper {
    text-align: center;
    font-size: 2rem;
    width: 200px;
    height: 50px;
    color: var(--modal-dialog-busy-text-color);
}
.modal-dialog-wrapper .modal-dialog-busy-text {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: var(--modal-dialog-busy-text-color);
}
.modal-dialog-wrapper .modal-dialog-busy-indicator {
}

.modal-dialog-wrapper-busy .modal-dialog-busy-indicator {
}

.modal-dialog .modal-dialog-buttons {
    text-align: right;
}

.form-row.modal-form-row {
}

.form-row.modal-form-row label {
    padding-right: 5px;
}

.form-row.modal-form-row label.checkbox-label,
.form-row.modal-form-row label.radio-label {
    cursor:pointer;
}

.modal-button {
    background: var(--modal-dialog-button-background);
    border: var(--modal-dialog-button-border);
    color: var(--modal-dialog-button-color);
    border-radius: var(--modal-dialog-button-border-radius);
    padding: 3px 5px;
    cursor: pointer;
}

.modal-button:hover {
    background: var(--modal-dialog-button-background-hovered);
}

.modal-button-cancel {
    border: var(--modal-dialog-button-cancel-border);
    color: var(--modal-dialog-button-cancel-color);
}

.modal-button-cancel:hover {
    background: var(--modal-dialog-button-cancel-background-hovered);
}

.modal-button-confirm {
    border: var(--modal-button-confirm-border);
    color: var(--modal-button-confirm-color);
    margin-left: 5px;
}

.modal-button-confirm:hover {
    background: var(--modal-dialog-button-confirm-background-hovered);
}

.modal-button-confirm[disabled],
.modal-button-confirm[disabled]:hover {
    background: var(--modal-dialog-button-confirm-disabled-background);
    border: var(--modal-dialog-button-confirm-disabled-border);
    color: var(--modal-dialog-button-confirm-disabled-color);
    margin-left: 5px;
    cursor: not-allowed;
}

.modal-dialog-wrapper.confirm-modal {
    border-color: var(--modal-dialog-confirm-modal-border-color);
}

.modal-dialog-wrapper.confirm-modal .modal-dialog {
    box-shadow: var(--modal-dialog-confirm-modal-box-shadow);
}
.modal-dialog-wrapper.confirm-modal .modal-dialog .modal-dialog-title {
    color: var(--modal-dialog-confirm-modal-title-color);
}