/*
    all:
        variants:
            all-slow       slow all       (long-animation-duration)
            all            normal all     (medium-animation-duration)
            all-fast       fast all       (short-animation-duration)
            all-delayed    delayed all    (medium-animation-duration, delayed by medium-animation-duration)
 */
.all-fast-enter,
.all-fast-leave-to,
.all-enter,
.all-leave-to,
.all-delayed-enter,
.all-delayed-leave-to,
.all-slow-enter,
.all-slow-leave-to,
.all-preset-enter,
.all-preset-leave-to {
    opacity: 0 !important;
}
.all-fast-enter-active,
.all-fast-leave-active,
.all-delayed-enter-active,
.all-delayed-leave-active,
.all-enter-active,
.all-leave-active,
.all-slow-enter-active,
.all-slow-leave-active {
    transition-property: all !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: var(--medium-animation-duration) !important;
}

.all-fast-enter-active,
.all-fast-leave-active {
    transition-duration: var(--short-animation-duration) !important;
}

.all-slow-enter-active,
.all-slow-leave-active {
    transition-duration: var(--long-animation-duration) !important;
}



/*
    fade:
        variants:
            fade-slow       slow fade       (long-animation-duration)
            fade            normal fade     (medium-animation-duration)
            fade-fast       fast fade       (short-animation-duration)
            fade-delayed    delayed fade    (medium-animation-duration, delayed by medium-animation-duration)
 */
.fade-fast-enter,
.fade-fast-leave-to,
.modal-dialog-background.fade-fast-enter,
.modal-dialog-background.fade-fast-leave-to,
.fade-enter,
.fade-leave-to,
.fade-delayed-enter,
.fade-delayed-leave-to,
.modal-dialog-background.fade-enter,
.modal-dialog-background.fade-leave-to,
.fade-slow-enter,
.fade-slow-leave-to,
.modal-dialog-background.fade-slow-enter,
.modal-dialog-background.fade-slow-leave-to,
.fade-preset-enter,
.fade-preset-leave-to {
    opacity: 0 !important;
}
.fade-fast-enter-active,
.fade-fast-leave-active,
.fade-delayed-enter-active,
.fade-delayed-leave-active,
.fade-enter-active,
.fade-leave-active,
.fade-slow-enter-active,
.fade-slow-leave-active {
    transition-property: opacity !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: var(--medium-animation-duration) !important;
}

.modal-dialog-background.fade-fast-enter-active,
.modal-dialog-background.fade-fast-leave-active,
.fade-fast-enter-active,
.fade-fast-leave-active {
    transition-duration: var(--short-animation-duration) !important;
}

.modal-dialog-background.fade-slow-enter-active,
.modal-dialog-background.fade-slow-leave-active,
.fade-slow-enter-active,
.fade-slow-leave-active {
    transition-duration: var(--long-animation-duration) !important;
}

.fade-delayed-enter-active,
.fade-delayed-leave-active {
    transition-delay: var(--medium-animation-duration) !important;
}

/*
    width:
        variants:
            width-slow       slow width       (long-animation-duration)
            width            normal width     (medium-animation-duration)
            width-fast       fast width       (short-animation-duration)
            width-delayed    delayed width    (medium-animation-duration, delayed by medium-animation-duration)
 */

.width-short-enter,
.width-short-leave-to,
.width-enter,
.width-leave-to,
.width-long-enter,
.width-long-leave-to,
.width-delayed-enter,
.width-delayed-leave-to {
    flex-basis: unset !important;
    max-width: unset !important;
    min-width: unset !important;
    width: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.width-short-enter-active,
.width-short-leave-active,
.width-enter-active,
.width-leave-active,
.width-long-enter-active,
.width-long-leave-active,
.width-delayed-enter-active,
.width-delayed-leave-active {
    overflow: hidden !important;
    transition-property: width, max-width, min-width, flex-basis, margin-left, margin-right, padding-left, padding-right !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: var(--medium-animation-duration) !important;
}

.width-short-enter-active,
.width-short-leave-active {
    transition-duration: var(--short-animation-duration) !important;
}

.width-long-enter-active,
.width-long-leave-active {
    transition-duration: var(--long-animation-duration) !important;
}

.width-delayed-enter-active,
.width-delayed-leave-active {
    transition-delay: var(--medium-animation-duration) !important;
}




/*
    height:
        variants:
            height-slow       slow height       (long-animation-duration)
            height            normal height     (medium-animation-duration)
            height-fast       fast height       (short-animation-duration)
            height-delayed    delayed height    (medium-animation-duration, delayed by medium-animation-duration)
 */

.height-short-enter,
.height-short-leave-to,
.height-enter,
.height-leave-to,
.height-long-enter,
.height-long-leave-to,
.height-delayed-enter,
.height-delayed-leave-to {
    flex-basis: unset !important;
    overflow: hidden !important;
    max-height: unset !important;
    min-height: unset !important;
    height: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.height-short-enter-active,
.height-short-leave-active,
.height-enter-active,
.height-leave-active,
.height-long-enter-active,
.height-long-leave-active,
.height-delayed-enter-active,
.height-delayed-leave-active {
    overflow: hidden !important;
    transition-property: height, max-height, min-height, flex-basis, margin-top, margin-bottom, padding-top, padding-bottom !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: var(--medium-animation-duration) !important;
}

.height-short-enter-active,
.height-short-leave-active {
    transition-duration: var(--short-animation-duration) !important;
}

.height-long-enter-active,
.height-long-leave-active {
    transition-duration: var(--long-animation-duration) !important;
}

.height-delayed-enter-active,
.height-delayed-leave-active {
    transition-delay: var(--medium-animation-duration) !important;
}

/* highlight */
.highlight-enter,
.highlight-leave-to {
    opacity: 0 !important;
}

.highlight-enter-active,
.highlight-leave-active {
    transition: opacity linear var(--short-animation-duration),
    background-color linear var(--short-animation-duration) var(--short-animation-duration),
    color linear var(--short-animation-duration) var(--short-animation-duration)  !important;
}

.highlight-enter-to {
    background-color: unset !important;
    color: unset !important;
    opacity: 1 !important;
}

/* size */

.size-short-enter,
.size-long-enter,
.size-enter {
    flex-grow: 1 !important;
    flex-basis: unset !important;
    height: 0px !important;
    width: 0px !important;
    max-height: 0px !important;
    max-width: 0px !important;
    min-height: 0px !important;
    min-width: 0px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.size-short-enter-to,
.size-long-enter-to,
.size-enter-to {
    flex-grow: 1 !important;
    overflow: hidden !important;
}

.size-short-leave,
.size-long-leave,
.size-leave {
    flex-shrink: 1 !important;
    overflow: hidden !important;
}

.size-short-leave-to,
.size-long-leave-to,
.size-leave-to {
    flex-shrink: 1 !important;
    width: 0 !important;
    max-width: 0 !important;
    min-width: 0 !important;
    height: 0 !important;
    max-height: 0 !important;
    min-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-basis: 0 !important;
}

.size-enter-active,
.size-leave-active,
.size-short-enter-active,
.size-short-leave-active,
.size-long-enter-active,
.size-long-leave-active {
    overflow: hidden !important;
    transition-property: height,
                width,
                height,
                max-height,
                max-width,
                min-height,
                min-width,
                margin,
                padding,
                flex-basis !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: var(--medium-animation-duration) !important;
}

.size-short-enter-active,
.size-short-leave-active {
    transition-duration: var(--short-animation-duration) !important;
}

.size-long-enter-active,
.size-long-leave-active {
    transition-duration: var(--long-animation-duration) !important;
}

/* size-width */

.size-width-short-enter,
.size-width-long-enter,
.size-width-enter {
    flex-grow: 1 !important;
    flex-basis: 0 !important;
    width: 0px !important;
    max-width: 0px !important;
    min-width: 0px !important;
    overflow: hidden !important;
}

.size-width-short-enter-to,
.size-width-long-enter-to,
.size-width-enter-to {
    flex-grow: 1 !important;
    overflow: hidden !important;
}

.size-width-short-leave,
.size-width-long-leave,
.size-width-leave {
    flex-shrink: 1 !important;
    overflow: hidden !important;
}

.size-width-short-leave-to,
.size-width-long-leave-to,
.size-width-leave-to {
    flex-shrink: 1 !important;
    width: 0 !important;
    max-width: 0 !important;
    min-width: 0 !important;
    flex-basis: 0 !important;
}

.size-width-enter-active,
.size-width-leave-active,
.size-width-short-enter-active,
.size-width-short-leave-active,
.size-width-long-enter-active,
.size-width-long-leave-active {
    overflow: hidden !important;
    transition-property: height,
                width,
                max-width,
                min-width,
                flex-basis !important;
    transition-timing-function: linear !important;
    transition-duration: var(--medium-animation-duration) !important;
}

.size-width-short-enter-active,
.size-width-short-leave-active {
    transition-duration: var(--short-animation-duration) !important;
}

.size-width-long-enter-active,
.size-width-long-leave-active {
    transition-duration: var(--long-animation-duration) !important;
}


/* size-height */

.size-height-short-enter,
.size-height-long-enter,
.size-height-enter {
    flex-grow: 1 !important;
    flex-basis: unset !important;
    height: 0 !important;
    max-height: 0 !important;
    min-height: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden !important;
}

.size-height-short-enter-to,
.size-height-long-enter-to,
.size-height-enter-to {
    flex-grow: 1 !important;
    overflow: hidden !important;
}

.size-height-short-leave,
.size-height-long-leave,
.size-height-leave {
    flex-shrink: 1 !important;
    overflow: hidden !important;
}

.size-height-short-leave-to,
.size-height-long-leave-to,
.size-height-leave-to {
    flex-shrink: 1 !important;
    flex-basis: 0 !important;
    height: 0 !important;
    max-height: 0 !important;
    min-height: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden !important;
}

.size-height-enter-active,
.size-height-leave-active,
.size-height-short-enter-active,
.size-height-short-leave-active,
.size-height-long-enter-active,
.size-height-long-leave-active {
    overflow: hidden !important;
    transition-property: height,
                max-height,
                min-height,
                margin-top,
                margin-bottom,
                padding-top,
                padding-bottom,
                flex-basis !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: var(--medium-animation-duration) !important;
}

.size-height-short-enter-active,
.size-height-short-leave-active {
    transition-duration: var(--short-animation-duration) !important;
}

.size-height-long-enter-active,
.size-height-long-leave-active {
    transition-duration: var(--long-animation-duration) !important;
}

/* custom transition for modals */

.transition-wh {
    transition-property: max-width, width, max-height, height, margin, opacity !important;
    transition-duration: var(--long-animation-duration) !important;
    overflow: hidden !important;
}

/* custom transition for notifications */

.transition-wh2 {
    transition-property: width, height, opacity;
    transition-duration: var(--medium-animation-duration);
    overflow: hidden;
}