<div class="form-control-field">
    <form-control-label ref="controlLabel" v-bind:control="control"></form-control-label>
    <template v-if="control.value">
        <input class="hidden-checkbox" type="checkbox" v-bind:value="control.value" v-bind:name="control.name" checked="checked" v-nwmodel.eval="control.fullPath" v-bind:path="control.path" />
        <span class="checkbox-placeholder fa fa-check-square-o form-control-input"></span>
    </template>
    <template v-else>
        <input class="hidden-checkbox" type="checkbox" v-bind:name="control.name" v-bind:value="control.value" v-nwmodel.eval="control.fullPath" v-bind:data-path="control.path" />
        <span class="checkbox-placeholder fa fa-square-o form-control-input"></span>
    </template>
</div>