<div class="save-log-dialog">
	<div class="form-row modal-form-row" v-if="hasHiddenMessages">
		<label class="checkbox-label">
			{{ translate('Save hidden messages as well') }} ({{ hasHiddenMessages }}):
			<input type="checkbox" name="save_hidden" v-model="saveAll" />
		</label>
	</div>
	<template v-if="fileExists">
		<div class="form-row modal-form-row">
			<label class="radio-label">
				<input type="radio" name="overwrite_file" v-model="overwriteAction" value="overwrite" />
				{{ translate('Overwrite existing file') }}
			</label>
		</div>
		<div class="form-row modal-form-row">
			<label class="radio-label">
				<input type="radio" name="overwrite_file" v-model="overwriteAction" value="append" />
				{{ translate('Append to existing file') }}
			</label>
		</div>
	</template>
	<div class="form-row modal-form-row modal-form-row-pick-file" v-bind:class="{ 'form-row-has-error' : saveFileError }">
		<div class="form-row-error modal-form-row-error" v-html="translate('No file selected')"></div>
		<input class="file-picker-button" type="button" @click.prevent="saveFileClick" :value="translate('Please select file')" />
		<input accept=".json" class="file-picker" type="file" v-bind:nwsaveas="defaultFilename" v-on:change="saveFileChange" />
	</div>
</div>