<div class="form-control-field">
	<div class="form-row form-control-row form-control-subrow">
		<form-control-label ref="controlLabel" v-bind:control="control" v-bind:show-type="true">
			<a slot="tools" @click="addNewObjectRow" class="label-tools-link add-new-row add-new-row-object fa fa-plus"></a>
		</form-control-label>
		<ul class="form-control-child-items form-control-object-child-items">
			<template v-for="subControl in control.value">
				<li class="object-li">
					<form-control :class="[{'no-display-element': subControl.hide}]" v-bind:control="subControl"></form-control>
					<a @click="removeObjectRow" class="row-tools-link remove-row remove-row-object fa fa-minus"></a>
				</li>
			</template>
		</ul>
	</div>
</div>