.window-controls-wrapper {
    position: relative;
    display: flex;
    flex: 0 1 auto;
    cursor: pointer;
    overflow: visible;
    justify-content: flex-end;
    -webkit-app-region: no-drag;
}

.window-controls-wrapper .window-controls {
    display: flex;
    position: relative;
    overflow: visible;
}

.window-controls-wrapper .window-controls.window-controls-main {
    padding-left: 15px;
}

.window-controls-wrapper .window-controls .window-control-wrapper {
    flex: 0 1 1rem;
    margin-right: 5px;
    font-size: 1rem;
    width: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.window-controls-wrapper .window-controls .window-control-wrapper .window-control {
    color: var(--window-control-link-color);
    text-decoration: none;
    cursor: default;
    -webkit-text-stroke-width: var(--window-control-link-text-stroke-width);
    -webkit-text-stroke-color: var(--window-control-link-text-stroke-color);
    text-shadow: var(--window-control-link-text-shadow);
    transition-property: color, background, opacity, width;
    transition-timing-function: ease-in-out;
    transition-duration: var(--short-animation-duration);
    display: flex;
    flex-flow: row;
    outline: none;
}

.window-controls-wrapper .window-controls .window-control-wrapper .window-control.window-control-move {
    transition: opacity ease-in-out var(--medium-animation-duration);
}

.window-controls-wrapper .window-controls .window-control-wrapper .window-control:hover {
    color: var(--window-control-link-color-hovered);
    text-decoration: none;
    -webkit-text-stroke-width: var(--window-control-link-text-stroke-width-hovered);
    -webkit-text-stroke-color: var(--window-control-link-text-stroke-color-hovered);
    text-shadow: var(--window-control-link-text-shadow-hovered);
}

.window-controls-wrapper .window-controls .window-control-wrapper .window-control:active {
    color: var(--window-control-link-color-active);
    text-decoration: none;
    -webkit-text-stroke-width: var(--window-control-link-text-stroke-width-active);
    -webkit-text-stroke-color: var(--window-control-link-text-stroke-color-active);
    text-shadow: var(--window-control-link-text-shadow-active);
}

.window-controls-wrapper .window-controls .window-control-wrapper .window-control.window-control-destructive:hover {
    color: var(--window-control-link-destructive-color-hovered);
    text-shadow: var(--window-control-link-destructive-text-shadow-hovered);
}

.window-controls-wrapper .window-controls .window-control-wrapper .window-control.window-control-active,
.window-controls-wrapper .window-controls .window-control-wrapper .window-control.window-control-moving,
.window-controls-wrapper .window-controls .window-control-wrapper .window-control.window-control-moving:hover {
    color: var(--window-control-link-color-hovered);
}

.window-controls-wrapper .window-controls .window-control-wrapper .window-control.window-control-moving:hover {
    -webkit-text-stroke-color: var(--window-control-link-text-stroke-color-hovered);
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu {
    display: flex;
    flex-flow: column;
    overflow: auto;
    max-height: 0;
    position: absolute;
    left: 50%;
    top: 1rem;
    transform: translateX(calc(-50% - 2px));
    overflow: hidden;
    z-index: 4;
    padding: 0px var(--window-control-submenu-shadow-size);
    transition-property: max-height, margin-left;
    transition-timing-function: ease-in-out;
    transition-duration: var(--medium-animation-duration);
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper.menu-opened .window-control-submenu-link {
    color: var(--window-control-link-color-active);
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper.menu-opened .window-control-submenu {
    border-width: 1px;
    max-height: 100vh;
    z-index: 5;
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-arrow {
    margin: 0px auto;
    height: 8px;
    line-height: 8px;
    display: block;
    color: var(--window-control-submenu-arrow-color);
    transition-property: padding-left;
    transition-timing-function: ease-in-out;
    transition-duration: var(--medium-animation-duration);
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-inner {
    background-color: var(--window-control-submenu-background-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--window-control-submenu-border-color);
    border-radius: var(--window-control-submenu-border-radius);
    box-shadow: var(--window-control-submenu-box-shadow);
    margin-bottom: var(--window-control-submenu-shadow-size);
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper .window-control {
    display: flex;
    padding: 3px 5px 4px 5px;
    border-top: 1px solid  var(--window-control-submenu-border-color);
    color: var(--window-control-submenu-text-color);
    -webkit-text-stroke-width: 0px;
    text-shadow: none;
    cursor: pointer;
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper .window-control:hover {
    color: var(--window-control-submenu-text-color-hover);
    background-color: var(--window-control-submenu-background-color-hover);
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper .window-control.window-control-destructive:hover {
    color: var(--window-control-submenu-destructive-text-color-hover);
    background-color: var(--window-control-submenu-destructive-background-color-hover);
}


.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper .window-control-active {
    color: var(--window-control-submenu-text-color-active);
    background-color: var(--window-control-submenu-background-color-active);
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper .window-control-active:hover {
    color: var(--window-control-submenu-text-color-active);
    background-color: var(--window-control-submenu-background-color-hover);
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper:first-of-type .window-control {
    border-top: none;
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper.window-control-submenu-item-separator {
    height: 2px;
    background: var(--window-control-submenu-separator-background);
    border: none;
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper .window-control .window-control-submenu-item-section {
    flex: 1 1 auto;
    display: inline-block;
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper .window-control .window-control-submenu-item-icon {
    flex: 0 1 auto;
    margin-right: 5px;
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper .window-control .window-control-submenu-item-text {
    font-size: 0.8rem;
    white-space: nowrap;
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper .window-control .window-control-submenu-item-shortcut {
    font-size: 0.7rem;
    align-self: flex-end;
    padding: 1px 4px;
    margin-left: 15px;
    white-space: nowrap;
    opacity: 0.9;
    border-radius: 5px;
    border: 1px solid var(--window-control-link-color-active);
    color: var(--window-control-submenu-text-color-active);
    background-color: var(--window-control-submenu-background-color-active);
    transition-property: color, background, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: var(--short-animation-duration);
}

.window-controls-wrapper .window-controls .window-control-menu-wrapper .window-control-submenu .window-control-submenu-item-wrapper .window-control.window-control-destructive:hover .window-control-submenu-item-shortcut {
    border: 1px solid var(--window-control-submenu-destructive-text-color-hover);
    color: var(--window-control-submenu-destructive-text-color-hover);
    background-color: var(--window-control-submenu-destructive-background-color-hover);
}

.window-controls-wrapper .window-controls .window-control-maximize .fa,
.window-controls-wrapper .window-controls .window-control-restore .fa {
    width: 1rem;
}