.debug-config-editor-modal {

}

.debug-config-editor-modal .modal-dialog-content {
    display: flex;
    flex-flow: column;
}

.debug-config-editor-modal .modal-dialog-content-wrapper {
    display: flex;
    flex-flow: column;
}

.debug-config-editor-modal form {
    display: flex;
    flex-flow: column;
}

.debug-config-editor-modal .modal-dialog-body {
    flex: 1 1 auto;
    overflow: auto;
    margin: 5px 10px;
}

.debug-config-editor-modal .modal-dialog-buttons {
    flex: 1 1 auto;
}
.debug-config-editor {
    max-height: 75vh;
}
