<?js
    var data = obj;
    var self = this;
?>

<?js if (data.augments && data.augments.length) { ?>
    <h4>Extends</h4>
    <div class="extend">
        <ul>
            <?js data.augments.forEach(function(a) { ?>
                <li><?js= self.linkto(a, a) ?></li>
            <?js }) ?>
        </ul>
    </div>
<?js } ?>
