<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body style="background-color:rgba(0,0,0,0);" class="nw-body nw-debug-body debug-window">
        <div class="nw-app-wrapper">
            <app-window ref="appWindow" v-bind:is-debug="true"></app-window>
            <modal-dialog ref="modalDialog"></modal-dialog>
        </div>
        <script>
var nws = require('nw-skeleton');
var appWrapper;
var _parentWrapper;

function nwsError(ex){
    console.error(ex);
    let html = '<style type="text/css">html,body{margin:0;padding:0;}</style><div style="font-family: Arial, Helvetica, sans-serif; background: #990000; height: calc(100vh - 20px); width: calc(100vw - 20px); padding: 10px; text-align: center; color: #FFFFFF;"><h1>Error</h1><h2>' + ex.message + '</h2><a style="font-size: 1.5rem; color: #FFFFFF;" href="#" onclick="window.close()">Exit</a></div>';
    document.querySelector('body').innerHTML = html;
    nw.Window.get().show();
    setTimeout(function(){
        nw.Window.get().focus();
    }, 500);
}

async function _nwsInit(){
    try {
        _parentWrapper = window.opener.getAppWrapper();
        _parentWrapper.debugWindow = window;
        appWrapper = new nws.AppWrapper({ isDebugWindow: true });
        await appWrapper.initialize();
        await _parentWrapper.helpers.debugHelper.prepareDebugWindow.call(_parentWrapper.debugHelper);
    } catch (ex) {
        nwsError(ex);
    }
    return;
}
_nwsInit();
        </script>
    </body>
</html>