<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title></title>
    </head>
    <body style="background-color:rgba(0,0,0,0);" class="nw-body">
        <div class="nw-app-wrapper">
            <app-window ref="appWindow" v-bind:is-debug="false"></app-window>
            <modal-dialog ref="modalDialog"></modal-dialog>
            <app-operation ref="appOperation"></app-operation>
        </div>
        <script type="text/javascript">
var nws = require('nw-skeleton');
var appWrapper;

function nwsError(ex){
    console.error(ex);
    let fs = require('fs');
    let _ = require('lodash');
    let html;
    let errorTemplateFile = _.get(nw.Window.get(), '__initialMainConfig.wrapper.appErrorTemplatePartial');
    if (errorTemplateFile && fs.existsSync(errorTemplateFile)){
        let errorTemplate = fs.readFileSync(errorTemplateFile, 'utf8');
        html = _.template(errorTemplate)({
            message: ex.message,
            stack: '<div>' + ex.stack.replace(/^[^\n]+/, '').replace(/^[\s\t]+/mg, '').replace(/>/, '&gt;').replace(/</, '&lt;').split('\n').join('</div><div>') + '</div>'
        });
    } else {
        html = '<style type="text/css">html,body{margin:0;padding:0;}</style><div style="font-family: Arial, Helvetica, sans-serif; background: #990000; height: calc(100vh - 20px); width: calc(100vw - 20px); padding: 10px; text-align: center; color: #FFFFFF;"><h1>Error</h1><h2>' + ex.message + '</h2><a style="font-size: 1.5rem; color: #FFFFFF;" href="#" onclick="window.close()">Exit</a></div>';
    }
    document.querySelector('body').innerHTML = html;
    nw.Window.get().show();
    setTimeout(function(){
        nw.Window.get().focus();
    }, 500);
}

async function _nwsInit(){
    try {
        appWrapper = new nws.AppWrapper();
        await appWrapper.initialize();
    } catch (ex) {
        nwsError(ex);
    }
}
window.onload = async function(){
    await _nwsInit();
};
        </script>
    </body>
</html>