<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="../css/config.css" type="text/css" rel="stylesheet" data-initial-style="1" />
        <link href="../css/fonts.css" type="text/css" rel="stylesheet" data-initial-style="1" />
        <link href="../css/new-window-base.css" type="text/css" rel="stylesheet" data-initial-style="1" />
    </head>
    <body class="nw-body nw-debug-body debug-window">
            <div class="new-window-loader">
                <span class="app-loader-spinner fa fa-spin fa-circle-o-notch"></span>
            </div>
        <div class="nw-app-wrapper">
            <app-window ref="appWindow" v-if="appState.status.appInitialized"></app-window>
            <modal-dialog ref="modalDialog" v-if="appState.status.appInitialized"></modal-dialog>
        </div>
    </body>
</html>