.checkbox-styled {
    position: relative;
    cursor: pointer;
}

.hidden-checkbox {
    opacity: 0;
}

.styled-checkbox-placeholder {
    position: absolute;
    left: 4px;
    top: 4px;
    pointer-events: none;

}