header.app-header {
    color: var(--app-header-text-color);
    background-color: var(--app-header-background-color);
    background: var(--app-header-background);
    overflow: visible;
    position: relative;
    flex-direction: column;
    z-index: 2;
    border-radius: var(--app-main-border-radius) var(--app-main-border-radius) 0 0;
    border-width: var(--app-main-border-width) var(--app-main-border-width) 0 var(--app-main-border-width);
    border-style: var(--app-main-border-style);
    border-color: var(--app-header-border-color);
    transition-property: top;
    transition-timing-function: ease-in-out;
    transition-duration: var(--medium-animation-duration);
}

header.app-header .header-top {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    padding: 3px 0 5px 0;
}

header.app-header .header-bottom {
    position: absolute;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
    width: 240px;
    height: 0px;
}

header.app-header .header-app-title {
    flex: 0 1 auto;
    font-size: 1rem;
    padding-left: 10px;
}

header.app-header.hide-fullscreen-header {
    top: -26px;
    position: absolute;
    width: 100%;
}

.show-header header.app-header.hide-fullscreen-header {
    position: absolute;
    top: 0;
    width: 100%;
}