header {
    color: var(--app-header-text-color);
    background-color: var(--app-header-background-color);
    background: var(--app-header-background);
    overflow: visible;
    position: relative;
    flex-direction: column;
    z-index: 2;
    border-radius: var(--app-main-border-radius) var(--app-main-border-radius) 0 0;
    border-width: var(--app-main-border-width) var(--app-main-border-width) 0 var(--app-main-border-width);
    border-style: var(--app-main-border-style);
    border-color: var(--app-header-border-color);
}

header .header-top {
    flex: 1 1 auto;
}

header .header-bottom {
    flex: 1 1 auto;
}

header .header-app-title {
    flex: 0 1 auto;
    font-size: 1rem;
    padding: 3px 10px 5px 10px;
}

header .progress-bar-wrapper {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-top: none;
    width: 240px;
    border-radius: 0 0 var(--app-progress-bar-wrapper-border-radius) var(--app-progress-bar-wrapper-border-radius);
    background: var(--app-progress-bar-wrapper-background);
}

header .progress-bar-wrapper .progress-bar {
    width: var(--app-progress-bar-width);
}

header .live-info {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    background: var(--app-live-info-background);

}