<header v-bind:class="{'has-progress-bar': appState.progressData.inProgress, 'app-status-changing': appState.status.appStatusChanging}">
	<div class="header-top">
		<div class="header-app-title" :title="appState.config.appInfo.description" v-html="appState.config.appInfo.name"></div>
		<window-controls ref="windowControls"></window-controls>
	</div>
	<div class="header-bottom" v-bind:class="[appStatusWrapperClassObject, {'has-progress-bar': !hideProgressBar && appState.progressData.inProgress}]">
        <live-info v-bind:app-status-wrapper-class-object="appStatusWrapperClassObject" v-bind:dont-display="hideLiveInfo" ref="headerLiveInfo"></live-info>
		<progress-bar v-bind:app-status-wrapper-class-object="appStatusWrapperClassObject" v-bind:dont-display="hideProgressBar" ref="headerProgressBar"></progress-bar>
	</div>
</header>
