@keyframes message-delimiter-animation-left {
  0%   {transform: translateX(-100%)}
  100% {transform: translateX(0)}
}

@keyframes message-delimiter-animation-right {
  0%   {transform: translateX(100%)}
  100% {transform: translateX(0)}
}

.user-messages {
	margin-top: 10px;
}

.user-messages .user-messages-toolbar {
	text-align: center;
}

.user-messages .user-messages-header {
	display: flex;
	background: var(--app-user-messages-header-background);
	margin-bottom: 5px;
}

.user-messages .user-messages-header h2 {
   	color: var(--app-user-messages-header-title-color);
	margin: 0;
    padding: 5px;
    font-size: 0.8rem;
    flex: 0 1 auto;
}

.user-messages .user-message-controls {
	flex: 1 1 auto;
	display: flex;
}

.user-messages .user-message-controls .user-message-control {
	display: inline-block;
	margin: 0 4px;
}

.user-messages .message-list-wrapper .message-list {
	height: 20px;
	overflow: hidden;
}

.user-messages-expanded .message-list-wrapper .message-list {
	height: 200px;
	overflow: auto;
}

.user-messages .user-message-controls .user-message-controls-item {
	padding-top: 4px;
	flex: 1 1 auto;
}

.user-messages .user-messages-settings {
	margin-right: 10px;
	margin-top: 0px;
	text-align: right;
}

.user-messages .user-message-controls .user-message-control-link {
	color: var(--app-user-messages-tool-link-color);
	margin: 0 2px;
}

.user-messages .user-message-controls .user-message-control-link:hover {
	color: var(--app-user-messages-tool-link-color-hovered);
}

.user-messages .user-message-controls .user-message-control-link.clear-user-messages {
	color: var(--app-user-messages-clear-messages-link-color);
	visibility: hidden;
}

.user-messages .user-message-controls .user-message-control-link.clear-user-messages:hover {
	text-decoration: none;
	color: var(--app-user-messages-clear-messages-link-color-hovered);
}