@keyframes animatedBackground {
    0%, 100% {
        background-position: calc(0px - var(--app-progress-bar-width)) 0;
    }
    50% {
        background-position: var(--app-progress-bar-width) 0;
    }
}

.progress-bar-wrapper {
    font-size: var(--app-progress-bar-font-size);
    border: 1px solid var(--app-progress-bar-wrapper-border-color);
    border-radius: var(--app-progress-bar-wrapper-border-radius);
    padding: 0px 10px 5px 10px;
    transition: opacity linear 0.3s;
    text-align: center;
    height: 50px;
    margin: 0 auto;
}

.has-progress-bar .progress-bar-wrapper {
	box-shadow: var(--app-progress-bar-wrapper-box-shadow);
    /*clip-path: polygon(calc(0% - var(--app-progress-bar-wrapper-clip-offset)) 0%, calc(100% + var(--app-progress-bar-wrapper-clip-offset)) 0%, calc(100% + var(--app-progress-bar-wrapper-clip-offset)) calc(100% + var(--app-progress-bar-wrapper-clip-offset)), calc(0% - var(--app-progress-bar-wrapper-clip-offset)) calc(100% + var(--app-progress-bar-wrapper-clip-offset)));*/

}

.progress-bar-wrapper.progress-bar-wrapper-active {

}

.progress-bar-wrapper .progress-operation {
	display: flex;
	text-align: center;
	padding: 3px 0px 5px 0px;
    justify-content: flex-end;
    max-width: 66%;
    margin: 0 auto;
}

.progress-bar-wrapper .progress-operation .progress-detail-text {
    flex: 1;
    white-space: nowrap;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.progress-bar-wrapper .progress-operation .progress-detail {
    flex: 1;
}


.progress-bar-wrapper .progress-bar {
    background: var(--app-progress-bar-background);
	border: 1px solid var(--app-progress-bar-border-color);
	border-radius: var(--app-progress-bar-border-radius);
    display: inline-block;
    width: 80%;
	position: relative;
	height: 18px;
}


.progress-bar-wrapper .progress-bar-inner,
.progress-bar-wrapper .progress-bar-inner-below {
    background-image: var(--app-progress-bar-inner-background);
    background-color: var(--app-progress-bar-inner-background-fill);
    background-position: 0 0;
    background-repeat: no-repeat;
    color: var(--app-progress-bar-inner-color);
    border-radius: var(--app-progress-bar-inner-border-radius);
	transition: width linear 0.1s;
	display: inline-block;
	width: 0%;
	height: 17px;
	text-align: center;
	text-indent: 4px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	white-space: nowrap;
    animation: animatedBackground 6s linear infinite;
}

.progress-bar-wrapper.no-animation .progress-bar-inner,
.progress-bar-wrapper.no-animation .progress-bar-inner-below {
    transition-duration: 0s;
    background-image: none;
}

.progress-bar-wrapper .progress-bar-inner-below {
	color: var(--app-progress-bar-inner-below-color);
	text-align: center;
	overflow: visible;
}

.progress-cancel {
	position: relative;
	left: 2px;
	top: -4px;
    text-shadow: var(--app-progress-bar-cancel-link-text-shadow);
    color: var(--app-progress-bar-cancel-link-color);
    display: none;
}

.progress-cancel:hover {
    color: var(--app-progress-bar-cancel-link-color-hovered);
    text-shadow: var(--app-progress-bar-cancel-link-text-shadow-hovered);
}
