.config-editor-modal .modal-dialog-body {
    max-height: 70vh;
    overflow: auto;
}

.config-editor-modal .form-control-row ul {
    min-width: 50vw;
}


.config-editor {
    width: 80vw;
    height: 80vh;
}

.config-editor-tools {
    position: fixed;
    top: 5px;
}