<transition name="fade">
    <div v-show="appLoaded" id="app-body" class="app-body" v-bind:class="['theme-' + appState.config.theme, { 'moving-window': movingWindow, 'debug-enabled': debug, 'debug-visible': debug && !hideDebug, 'has-debug-window': !isDebugWindow && hasDebugWindow, 'modal-visible': modalData.modalVisible, 'app-loaded': appLoaded }]">
        <div class="app-content">
            <template v-if="appInitialized">
                <app-header ref="appHeader"></app-header>
                <template v-if="!isDebug">
                    <app-main ref="appMain"></app-main>
                    <app-debug v-if="!appState.appShuttingDown" ref="appDebug"></app-debug>
                </template>
                <template v-else>
                    <app-debug v-if="!appState.appShuttingDown" ref="appDebug"></app-debug>
                </template>
                <app-footer ref="appFooter"></app-footer>
            </template>
            <template v-else>
                <app-loader ref="appWindowLoader"></app-loader>
            </template>
        </div>
    </div>
</transition>