<transition name="fade">
    <div v-show="appState.status.appLoaded" id="app-body" class="app-body" v-bind:class="['theme-' + appState.config.theme, { 'moving-window': appState.status.movingWindow, 'debug-enabled': appState.config.debug.enabled, 'debug-visible': appState.config.debug.enabled && !appState.config.debug.hideDebug, 'has-debug-window': !appState.isDebugWindow && appState.hasDebugWindow, 'modal-visible': appState.modalData.modalVisible, 'app-loaded': appState.status.appLoaded, 'has-app-operation': appState.appOperation.operationVisible, 'has-active-app-operation': appState.appOperation.operationVisible && appState.appOperation.operationActive && appState.appOperation.useProgress }]">
        <div class="app-content">
            <template v-if="appState.status.appInitialized">
                <app-header ref="appHeader"></app-header>
                <template v-if="!isDebug">
                    <app-main ref="appMain"></app-main>
                    <app-debug v-if="appState.config.debug.enabled && !appState.hasDebugWindow && !appState.status.appShuttingDown" ref="appDebug"></app-debug>
                </template>
                <template v-else>
                    <app-debug v-if="!appState.hasDebugWindow && !appState.status.appShuttingDown" ref="appDebug"></app-debug>
                </template>
                <app-footer ref="appFooter"></app-footer>
            </template>
            <template v-else>
                <app-header ref="appHeader"></app-header>
                <app-loader ref="appWindowLoader"></app-loader>
                <app-footer ref="appFooter"></app-footer>
            </template>
        </div>
        <app-notifications v-if="!appState.modalData.modalVisible" ref="appNotifications"></app-notifications>
    </div>
</transition>