<div class="app-debug-controls">
	<div class="app-debug-controls-item app-debug-config">
		<a class="app-debug-tool clear-debug-messages fa fa-ban" v-bind:title="translate('Clear debug messages')" @click.prevent="callViewHandler" data-click-handler="helpers.debugHelper.clearDebugMessages" v-bind:class="{ 'is-visible': appState.debugMessages.length > 0 }"></a>
		<a class="app-debug-tool save-debug-output fa fa-floppy-o" v-if="appState.debugMessages.length > 0" v-bind:title="translate('Save log to file')" @click.prevent="callViewHandler" data-click-handler="helpers.debugHelper.saveDebug"></a>
		<a class="app-debug-tool open-log-viewer fa fa-folder-open-o" v-bind:title="translate('Open log viewer')" @click.prevent="callViewHandler" data-click-handler="helpers.utilHelper.pickLogFile"></a>
		<a class="app-debug-tool open-debug-config fa fa-cog" v-bind:title="translate('Open debug configuration')" @click.prevent="callViewHandler" data-click-handler="helpers.debugHelper.openDebugConfigEditor"></a>
		<a class="app-debug-tool open-debug-window" @click.prevent="callViewHandler" data-click-handler="helpers.debugHelper.openDebugWindow">
			<span class="fa fa-external-link" :title="translate('Open debug in new window')"></span>
		</a>
		<input class="log-file-picker-input" type="file" v-on:change="callViewHandler" data-change-handler="helpers.utilHelper.pickLogViewerFile" />
	</div>
	<div class="app-debug-controls-item app-debug-settings">
		<div class="app-debug-control">
			<label v-html="translate('Message level')"></label>
			<select name="debugLevels" v-on:change="callViewHandler" data-change-handler="helpers.debugHelper.changeDebugLevel">
				<template v-for="(levelValue, levelName) in config.logger.messageLevels">
					<template v-if="levelValue == config.debug.debugLevel">
						<option selected="selected" v-bind:value="levelValue">{{ levelName }}</option>
					</template>
					<template v-else>
						<option v-bind:value="levelValue">{{ levelName }}</option>
					</template>
				</template>
			</select>
		</div>
		<div class="app-debug-control">
			<label>
				{{ translate('Display timestamps') }}
				<checkbox-styled ref="toggleUMTimestamps" v-bind:modelProperty="'appState.config.debug.displayTimestamps'" v-bind:name="'displayTimestamps'"></checkbox-styled>
			</label>
		</div>
	</div>
	<div class="app-debug-controls-item app-debug-toolbar">
		<a v-if="stacksCount > 0" href="#" class="app-debug-tool toggle-message-stacks" @click.prevent="callViewHandler" data-click-handler="helpers.debugHelper.toggleDebugMessageStacks">
			<span v-if="stacksState" class="fa fa-close" :title="translate('Hide message call stacks')" ></span>
			<span v-else class="fa fa-list" :title="translate('Show message call stacks')" ></span>
		</a>
		<a class="app-debug-tool expand-app-debug fa" v-bind:class="{ 'fa-arrow-up': !appState.config.debug.messagesExpanded, 'fa-arrow-down': appState.config.debug.messagesExpanded }" @click.prevent="callViewHandler" data-click-handler="helpers.debugHelper.toggleDebugMessages" :title="translate('Expand debug message list')"></a>
	</div>
</div>