.app-error {
    text-align: center;
    background: var(--app-error-background-color);
    color: var(--app-error-text-color);
}

.app-error-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-error-title {
    font-size: 2rem;
}

.app-error-icon {
    text-align: center;
}

.app-error-icon span {
    font-size: 10rem;
}