<transition appear v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:after-enter="afterEnter" v-on:enter-cancelled="enterCancelled" v-on:leave-cancelled="leaveCancelled" v-on:before-leave="beforeLeave" v-on:leave="leave" v-on:after-leave="afterLeave">
    <modal-dialog-busy v-if="currentModal.busy" key="modalBusy" ref="modalDialogBusy"></modal-dialog-busy>
	<div key="modalFree" v-if="!currentModal.busy && currentModal.ready" class="modal-dialog-content-wrapper">
		<h2 class="modal-dialog-title" v-html="getTitle()"></h2>
		<modal-dialog-messages ref="modalDialogMessages"></modal-dialog-messages>
		<form name="modalDialogForm" v-on:submit.stop.prevent="confirmModalAction" class="modal-dialog-form">
			<div class="modal-dialog-body">
				<transition name="width-height">
					<component v-bind:is="bodyComponent"></component>
				</transition>
			</div>
			<template v-if="currentModal.showCancelButton || currentModal.showConfirmButton">
				<div class="modal-dialog-buttons">
					<template v-if="currentModal.showConfirmButton">
						<template v-if="currentModal.confirmDisabled">
							<input disabled="disabled" type="submit" class="modal-button modal-button-confirm" v-bind:value="currentModal.confirmButtonText" />
						</template>
						<template v-else>
							<input type="submit" class="modal-button modal-button-confirm" v-bind:value="currentModal.confirmButtonText" />
						</template>
					</template>
					<template v-if="currentModal.showCancelButton">
						<template v-if="currentModal.cancelDisabled">
							<button disabled="disabled" class="modal-button modal-button-cancel" @click.prevent="cancelModalAction" v-text="currentModal.cancelButtonText"></button>
						</template>
						<template v-else>
							<button class="modal-button modal-button-cancel" @click.prevent="cancelModalAction" v-text="currentModal.cancelButtonText"></button>
						</template>
					</template>
				</div>
			</template>
		</form>
	</div>
</transition>