.app-loader {
    text-align: center;
    background: var(--app-loader-background-color);
    color: var(--app-loader-text-color);
}

.app-loader .app-loader-content {
    min-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.app-loader .app-loader-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.app-loader .app-loader-spinner {
    font-size: 120px;
    display: block;
    color: var(--app-loader-spinner-text-color);
}

.app-loader .message-list-wrapper {
    min-height: 100px;
}

.app-loader .user-messages .user-message-controls,
.app-loader .user-messages .user-messages-toolbar {
    display: none;
}

.app-loader .user-messages .user-messages-contents {

}

.app-loader .user-messages .user-message-list {
    height: 100px;
    border: var(--app-loader-user-message-list-border);
}