<div class="app-notifications" v-bind:class="{'no-notifications': !notification }">
    <div class="app-notification" :class="appNotificationClass">
        <transition v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:before-leave="beforeLeave" v-on:leave="leave">
            <div class="app-notification-contents" v-if="notification && notification.message">
                <div class="app-notification-count" v-if="notification.count > 1">
                    &nbsp;&nbsp;{{ notification.count }}&nbsp;&nbsp;
                </div>
                <div class="app-notification-text" v-if="notification.message" v-html="notification.message">
                </div>

                <a v-if="!notification.pinned" :title="translate('Pin notification')" class="app-notification-pin" @click.prevent="pinNotification">
                    <span class="fa fa-thumb-tack"></span>
                </a>
                <a v-else :title="translate('Unpin notification')" class="app-notification-pin" @click.prevent="pinNotification">
                    <span class="fa fa-thumb-tack"></span>
                </a>
                <a :title="translate('Remove notification')" class="app-notification-close" @click.prevent="removeNotification">
                    <span class="fa fa-remove"></span>
                </a>
            </div>
        </transition>
        <transition name="fade">
            <span v-if="notification && notification.pinned && appState.appNotificationsData.newNotifications.length" :title="translate('You have {1} unseen {2}', null, [appState.appNotificationsData.newNotifications.length, appState.appNotificationsData.newNotifications.length>1 ? translate('notifications') : translate('notification')])" class="app-notification-more fa fa-info-circle"></span>
        </transition>
    </div>
</div>