<div class="app-notifications" v-bind:class="{'no-notifications': !currentNotification }">
    <transition v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:before-leave="beforeLeave" v-on:leave="leave">
        <div class="app-notification" v-if="currentNotification && currentNotification.message">
            <div class="app-notification-text" v-if="currentNotification.message" v-html="currentNotification.message">
            </div>
        </div>
    </transition>
</div>