<transition name="size-height">
	<div class="live-info" v-if="appState.appOperation.operationVisible && !dontDisplay">
        <div class="live-info-inner" v-bind:class="appStatusWrapperClassObject">
           <span class="live-info-item app-status">
              <span class="app-operation-text" v-html="appState.appOperation.operationText"></span>
              <span class="status fa app-status" v-bind:title="appState.status.appStatus" v-bind:class="appStatusClassObject"></span>
          </span>
      </div>
  </div>
</transition>