.live-info {
    text-align: center;
    min-height: 24px;
    margin-top: -23px;
    background: var(--app-live-info-background);
    width: 240px;
}


.live-info .live-info-inner {
    border: var(--app-live-info-border);
    border-radius: var(--app-live-info-border-radius) var(--app-live-info-border-radius) 0 0;
    padding: 2px 0 3px 0;
    box-shadow: var(--app-live-info-box-shadow-offline);
    transition-property: box-shadow, background, border;
    transition-timing-function: ease-in-out;
    transition-duration: var(--medium-animation-duration);

}

.live-info .live-info-inner.success {
    box-shadow: var(--app-live-info-box-shadow-success);
    background: var(--app-live-info-background-success);
    border: var(--app-live-info-border-success);
}

.live-info .live-info-inner.offline {
    box-shadow: var(--app-live-info-box-shadow-offline);
    background: var(--app-live-info-background-offline);
    border: var(--app-live-info-border-offline);
}
.live-info .live-info-inner.error {
    box-shadow: var(--app-live-info-box-shadow-error);
    background: var(--app-live-info-background-error);
    border: var(--app-live-info-border-error);
}
.live-info .live-info-inner.working {
    box-shadow: var(--app-live-info-box-shadow-working);
    background: var(--app-live-info-background-working);
    border: var(--app-live-info-border-working);
}
.live-info .live-info-inner.busy {
    box-shadow: var(--app-live-info-box-shadow-busy);
    background: var(--app-live-info-background-busy);
    border: var(--app-live-info-border-busy);
}

.has-progress-bar .live-info .live-info-inner {
    border-bottom: none;
}

.live-info-item {
    padding: 0px 10px 1px;
    background: var(--app-live-info-item-background);
    box-shadow: var(--app-live-info-item-box-shadow);
}

.live-info .live-info-inner.success .live-info-item {
    background: var(--app-live-info-item-success-background);
    box-shadow: var(--app-live-info-item-success-box-shadow);
}

.live-info .live-info-inner.offline .live-info-item {
    background: var(--app-live-info-item-offline-background);
    box-shadow: var(--app-live-info-item-offline-box-shadow);
}

.live-info .live-info-inner.error  .live-info-item {
    background: var(--app-live-info-item-error-background);
    box-shadow: var(--app-live-info-item-error-box-shadow);
}

.live-info .live-info-inner.working  .live-info-item {
    background: var(--app-live-info-item-working-background);
    box-shadow: var(--app-live-info-item-working-box-shadow);
}

.live-info .live-info-inner.busy  .live-info-item {
    background: var(--app-live-info-item-busy-background);
    box-shadow: var(--app-live-info-item-busy-box-shadow);
}

.live-info .app-operation-text {
    font-weight: 600;
    margin-right: 4px;
    color: var(--app-live-info-operation-text-color);
    text-shadow: var(--app-live-info-operation-text-text-shadow);
    font-size: var(--app-live-info-operation-text-font-size);
    -webkit-text-stroke-width: var(--app-live-info-operation-text-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-operation-text-text-stroke-color);
    transition-property: text-shadow, color, -webkit-text-stroke-color !important;
    transition-timing-function: ease-out !important;
    transition-duration: var(--short-animation-duration) !important;
}

.live-info .status {
    color: var(--app-live-info-status-color);
    text-shadow: var(--app-live-info-status-text-shadow);
    font-size: var(--app-live-info-status-font-size);
    -webkit-text-stroke-width: var(--app-live-info-status-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-status-text-stroke-color);
    transition-property: text-shadow, color, -webkit-text-stroke-color !important;
    transition-timing-function: ease-out !important;
    transition-duration: var(--short-animation-duration) !important;
}

.live-info .status:hover {
    text-decoration: none;
}

.live-info .status::before {
    display: block;
    width: var(--app-live-info-status-font-size);
    height: var(--app-live-info-status-font-size);
    line-height: var(--app-live-info-status-font-size);
    overflow: visible;
    transition-property: text-shadow, color, -webkit-text-stroke-color !important;
    transition-timing-function: ease-out !important;
    transition-duration: var(--short-animation-duration) !important;
}

.live-info .live-info-inner.success .status {
    color: var(--app-live-info-success-status-color);
    text-shadow: var(--app-live-info-success-status-text-shadow);
    font-size: var(--app-live-info-success-status-font-size);
    -webkit-text-stroke-width: var(--app-live-info-success-status-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-success-status-text-stroke-color);
}

.live-info .live-info-inner.offline .status {
    color: var(--app-live-info-offline-status-color);
    text-shadow: var(--app-live-info-offline-status-text-shadow);
    font-size: var(--app-live-info-offline-status-font-size);
    -webkit-text-stroke-width: var(--app-live-info-offline-status-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-offline-status-text-stroke-color);
}

.live-info .live-info-inner.online .status {
    color: var(--app-live-info-online-status-color);
    text-shadow: var(--app-live-info-online-status-text-shadow);
    font-size: var(--app-live-info-online-status-font-size);
    -webkit-text-stroke-width: var(--app-live-info-online-status-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-online-status-text-stroke-color);
}

.live-info .live-info-inner.error .status {
    color: var(--app-live-info-error-status-color);
    text-shadow: var(--app-live-info-error-status-text-shadow);
    font-size: var(--app-live-info-error-status-font-size);
    -webkit-text-stroke-width: var(--app-live-info-error-status-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-error-status-text-stroke-color);
}

.live-info .live-info-inner.working .status {
    color: var(--app-live-info-working-status-color);
    text-shadow: var(--app-live-info-working-status-text-shadow);
    font-size: var(--app-live-info-working-status-font-size);
    -webkit-text-stroke-width: var(--app-live-info-working-status-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-working-status-text-stroke-color);
}

.live-info .live-info-inner.busy .status {
    color: var(--app-live-info-busy-status-color);
    text-shadow: var(--app-live-info-busy-status-text-shadow);
    font-size: var(--app-live-info-busy-status-font-size);
    -webkit-text-stroke-width: var(--app-live-info-busy-status-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-busy-status-text-stroke-color);
}

.live-info .live-info-inner.success .app-operation-text  {
    color: var(--app-live-info-success-operation-text-color);
    text-shadow: var(--app-live-info-success-operation-text-text-shadow);
    font-size: var(--app-live-info-success-operation-text-font-size);
    -webkit-text-stroke-width: var(--app-live-info-success-operation-text-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-success-operation-text-text-stroke-color);
}

.live-info .live-info-inner.offline .app-operation-text  {
    color: var(--app-live-info-offline-operation-text-color);
    text-shadow: var(--app-live-info-offline-operation-text-text-shadow);
    font-size: var(--app-live-info-offline-operation-text-font-size);
    -webkit-text-stroke-width: var(--app-live-info-offline-operation-text-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-offline-operation-text-text-stroke-color);
}
.live-info .live-info-inner.error .app-operation-text  {
    color: var(--app-live-info-error-operation-text-color);
    text-shadow: var(--app-live-info-error-operation-text-text-shadow);
    font-size: var(--app-live-info-error-operation-text-font-size);
    -webkit-text-stroke-width: var(--app-live-info-error-operation-text-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-error-operation-text-text-stroke-color);
}
.live-info .live-info-inner.working .app-operation-text  {
    color: var(--app-live-info-working-operation-text-color);
    text-shadow: var(--app-live-info-working-operation-text-text-shadow);
    font-size: var(--app-live-info-working-operation-text-font-size);
    -webkit-text-stroke-width: var(--app-live-info-working-operation-text-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-working-operation-text-text-stroke-color);
}
.live-info .live-info-inner.busy .app-operation-text  {
    color: var(--app-live-info-busy-operation-text-color);
    text-shadow: var(--app-live-info-busy-operation-text-text-shadow);
    font-size: var(--app-live-info-busy-operation-text-font-size);
    -webkit-text-stroke-width: var(--app-live-info-busy-operation-text-text-stroke-width);
    -webkit-text-stroke-color: var(--app-live-info-busy-operation-text-text-stroke-color);
}

.live-info-item.debug-toggle status {
    cursor: pointer;
}

.live-info .app-status-icon-placeholder {
    visibility: hidden;
}