<transition name="live-info">
	<div class="live-info" v-show="appState.appOperation.operationVisible && !dontDisplay" v-bind:class="appStatusWrapperClassObject">
        <div class="live-info-inner">
           <span class="live-info-item app-status" v-bind:class="appStatusWrapperClassObject">
              <span class="app-operation-text" v-html="appState.appOperation.operationText"></span>
              <span class="status fa app-status" v-bind:title="appState.status.appStatus" v-bind:class="appStatusClassObject"></span>
          </span>
      </div>
  </div>
</transition>