<div class="app-error">
    <template v-if="appState.appError.component">
        <component v-bind:is="appState.appError.component"></component>
    </template>
    <template v-else>
        <div class="app-error-content">
            <h2 v-if="appState.appError.title" class="app-error-title" v-html="def(appState.appError.title, 'Error')"></h2>
            <div class="app-error-icon">
                <span class="fa fa-exclamation-triangle"></span>
            </div>
            <p v-if="appState.appError.text" class="app-error-text" v-html="appState.appError.text"></p>
            <user-messages v-bind:hide-stacks="true" v-bind:list-only="true" ref="appErrorUserMessages" v-if="appState.appError.userMessages"></user-messages>
        </div>
    </template>
</div>